[2014-02-06 17:28] Utumno opened #1 "Simplify/merge the CBash ang PBash utility classes"
For instance in the branch
https://github.com/wrye-bash/wrye-bash/tree/utumno-looking_into_helper_classes
I carefully rename the variables and finally the fields in ActorLevels class

The final result is that the writeToMod methods are almost identical - that's a direction towards further simplification of the code

[2014-02-06 17:30] Utumno opened #2 "PARTLY Revert "ClothesTweak...""
I want the isMyType() method in the super class. I had to revert ([here](https://github.com/Utumno/wrye_bash_refactoring/commit/4f6b8afad04f8f83d1bc56b22d1118c3866c1419)) but I do not fully understand why.

isMyType() is only used in bosh

[2014-02-06 17:34] Utumno opened #3 "Rip the patchers out of bosh"
I open this to discuss the splitting process - including:
- module names
- games handling (submodules) ?
- helper classes handling
- naming conventions
- the actual splitting

[2014-02-07 10:44] #2 closed, assigned to Utumno

[2014-02-07 10:55] Utumno opened #4 "Better names for Abstract base classes (begin with underscore)"
I have introduced a bunch of classes which I perpended with A for Abstract. All those classes should begin with `_` as they are obviously only used locally and when the patchers are in their module say patchers we should be able to do `from patchers import *` and have all those classes not being imported. This goes for all those classes including `Abstract_Patcher`

[2014-02-07 10:58] Utumno opened #5 "Abstract base classes should have docs and raise Abstract errors & other patchers TODOs"
See:
- https://github.com/wrye-bash/wrye-bash/commit/9c73530eb2bedf25f2ff4967a71b8e0d20664fd9: Abstract base classes should have docs and raise Abstract errors - ofc AbstractError serves as docs. Especially the Abstract_Patcher and Patcher/CBash_Patcher should have extensive docs and be sure they raise the error if their methods are meant to be overridden. I have some TODOs there for easy search
-

[2014-02-15 11:28] Ortham opened #6 "Moving BOSSv3 support and Fallout support branches to Git"
I'd like to move my branches from the SVN to this Git repository so that I can more easily diff against everything else that's going on.

I'm planning on not bothering preserving the SVN history, because there's only a small number of commits I made since this repo's master branch was last synced with the SVN, and I can easily repeat them more tidily.

The question is, @Utumno, which branch should

[2014-02-15 11:44] Ortham opened #7 "Refactoring non-source-code files"
The Bash repository is pretty big, and it takes a while to clone, IMHO (5.5 min for me). I think it would be a good idea to split it up into several repositories ~~then we can maybe use something like submodules to link them all up if necessary~~.

In my mind, the primary candidates for getting split off into other repositories are:
- ~~BAIT and Bash3k (separately)~~
- The `scripts` folder
- The N

[2014-02-16 10:46] Ortham opened #8 "Error on plugin header edit"
This is due to missing fields in the header definition code. Will probably be fixed post-refactor.

[2014-02-16 10:47] Ortham opened #9 "Error on re-enabling disabled save master"
Traceback is

[code]

[2014-02-16 10:48] Ortham opened #10 "Author field sometimes displayed as kanji"
Bash's encoding checker sometimes displays mod header text (author field) in kanji instead of English. This could be due to slightly incorrect header values causing extra bytes to be interpreted as text, so check offsets.

[2014-02-16 10:48] Ortham opened #11 "Incorrect load order displayed"
This is reported with TTW installed.

[2014-02-16 10:49] Ortham opened #12 "Error trying to rearrange load order"
"Cannot Load Plugins before Masters" error obtained whenever trying to manually alter load order with TTW installed.

[2014-02-16 11:12] Ortham opened #13 "Show BSA Conflicts undocumented"
Needs an entry in the installers tab context menu commands table.

[2014-02-16 11:15] Ortham opened #14 "Missing context menu items"
This is a list of all the context menu items that are missing when Bash is run for FO3 or FNV. Not all of the missing items should be present.
## Installers Tab
### Column Headers
- Auto-name String Translation Files [OK to be missing]
## Mods Tab
### Column Headers
- File->New Bashed Patch...
- File->New Mod...
- Oblivion.esm-> [Whole menu missing, becomes Fallout3.esm for FO3, becomes FalloutNV.

[2014-02-16 22:27] #14 closed, assigned to Ortham

[2014-02-17 10:21] #6 closed, assigned to Ortham

[2014-02-17 14:23] #13 closed, assigned to Ortham

[2014-02-18 13:17] Ortham opened #15 "wxPython 3.0 Support"
@Utumno, @lojack5, @D4id4los: I was just on the wxPython site, and I noticed that they don't have their 2.8 releases listed any more. While the binaries are still available on Sourceforge and through the Wrye Python packages, this might be a good indication that we should move to wxPython 3.0. Is this a goal?

The [changelog](http://wxpython.org/recentchanges.php) looks fairly detailed, and so it

[2014-02-18 13:21] Ortham opened #16 "Installer MSVC 2013 Redist Support"
The changes made in `master`, `wrinklyninja-bossv3-support` and `wrinklyninja-fallout-support` require the MSVC 2013 redistributable to be installed. This information has been added to the readme, but the installer should be updated to handle it automatically.

[2014-02-20 09:29] Ortham opened #17 "Installer Improvements"
Right now the installer script is very long (> 3000 lines), and there are a few things that I think it could do better. I'm proposing the following:
1. Split the installer script into several files, using includes. I suggest one file for the installer bit, one for the uninstaller, one for the custom pages, and another for tying them together with the rest of the scripting (vars, helper functions,

[2014-02-20 12:37] Utumno opened #18 "Move to git (update links etc)"
Have found no easy way of sharing the git svn config - so anyone can update master from the SVN and so anyone can dcommit from master to the svn

My efforts are described here: http://stackoverflow.com/questions/18006273/how-to-share-the-git-svn-configuration/18541945?noredirect=1#18541945

Related is the difficulties I have dcommit'ing:
http://stackoverflow.com/questions/21713729/dcommit-to-sourc

[2014-02-20 21:14] #16 closed, assigned to Ortham

[2014-02-20 21:33] lojack5 opened #19 "Some generated files are not on the gitignore list"
Some files generated solely for the purpose of running the program / dev scripts are not in the .gitignore, so they can end up being committed.

Add appropriates wildecards/etc to make sure we don't accidentally commit these.

[2014-02-21 09:26] WrinklyNinja opened #20 "Run Bash outside game folders"
I've been doing this for *ages*, and I'm surprised that it's not the default setup (it's not what the installer does, and it's not what's instructed in the readme).

I haven't encountered any problems doing so, but is there any reason why dumping Bash in any old place isn't the default setup? Only thing I can think of is `bash.ini` not having setting strings to deal with Oblivion and Skyrim settin

[2014-02-21 14:28] Utumno opened #21 "Branching model and milestones"
Classic : http://nvie.com/posts/a-successful-git-branching-model/

I  pushed a b304.4 - this corresponds to a hotfix - next-dev is too generic IMO

We must branch from master - for various reasons including git-svn and merges do not play well but not only

Rewriting history is a nono but also wrong commits etc should not reach master. So I suggest we work on our branches. When ready do a rebase in

[2014-02-22 00:07] Metallicow opened #23 "Consider a Automatic Builds Repo?"
I see other projects do something like
BuildBot or TravisCI for builds.

I guess something like this would be nice further down the line after refactoring.
For example bash could have a seperate repo it dumps daily builds into.
Or triggered manually when needing a build.

Not sure how much work this would be to setup...?
Just opening this for Comments/Ideas/Suggestions on an automated build proces

[2014-02-22 09:09] Ortham opened #24 "Windows XP Support"
@Wrye-Bashers: Should we support Windows XP users?

I've decided not to in BOSS because in a few months XP will become a security risk, and by supporting it I'd be encouraging the same complacency in XP users that has kept them with it since Windows 7 was released.

However, I acknowledge that Bash is a separate project with separate goals, and if need be I'll rebuild the DLLs I provided so that t

[2014-02-23 06:52] #19 closed, assigned to Utumno

[2014-02-24 19:04] lojack5 opened #25 "Issue Labeling and Milestones"
I'm looking at making a git version of the script we had for generating the Second Post on the forums.  So far, it's going well.  I found [PyGithub](https://github.com/jacquev6/PyGithub) which is a Python 2 interface to the Github API.  The page says it supports Python 2 and 3, however apparently it hasn't been updated for later Python 3's, as the imports don't work anymore.  That's a separate iss

[2014-02-25 00:42] #7 closed, assigned to Ortham

[2014-02-25 04:05] lojack5 opened #26 "Make the language setting persistent"
[sourceforge](https://sourceforge.net/p/oblivionworks/enhancements/250/)

Bash's language defaults to your system language when it's started. A specific language can be forced by using the -L switch in the command line (e.g. -L English). Setting the language via the program menu just sets the -L command line switch for the next time; it doesn't get stored. Deleting the translation files also helps

[2014-02-25 04:08] lojack5 opened #27 "Masters list displays incorrectly"
[sourceforge](https://sourceforge.net/p/oblivionworks/enhancements/249/)

To reproduce - on a fresh install of Bash point to a save game folder having existing saves
Go to the saves tab and see the master list - you will see something like [this](http://www.bild.me/bild.php?file=4699058MASTERS_MISAMATCH.jpg)
This is from a fresh install of Skyrim where the only plugins present are Skyrim.esm and u

[2014-02-25 04:13] lojack5 opened #28 "Skip .bsl files for BAIN"
Often .bsl files are included in mod archives.  They are not needed at all, so BAIN should skip them.

[2014-02-25 04:16] lojack5 opened #29 "Update ESMify to generate ONAM subrecords"
[sourceforge](https://sourceforge.net/p/oblivionworks/enhancements/247/)

For Skyrim (and for the two Fallouts) it isn't enough anymore to simply flip the ESM flag on when converting a file to an ESM. Whether this is through the "copy to ESM" function or via the "ESMify Self" function, Bash should generate the needed ONAM subrecords for the TES4 Header so that the file will be fully functional if

[2014-02-25 04:18] lojack5 opened #30 "Date activated / installed column"
It would be to have a column/field in which we can see what date & time we activated a particular mod or installed a particular package, or even have a history of timestamps, etc. It'd make the process of troubleshooting the thing we messed up so we can deactivate the mod much easier.

[Originally from svn](https://sourceforge.net/p/oblivionworks/enhancements/246/)

[2014-02-25 04:20] lojack5 opened #31 "Add patcher support fo XCLR subrecords of CELL"
I'm surprised nobody asked for this before but it would be nice to have support to be able to import regions from a CELL record into the patch so that mods that need to change region data don't get stomped by later loading ones.

[2014-02-25 04:23] lojack5 opened #32 "Bash should send deleted files to the Recycle Bin"
[sourceforge](https://sourceforge.net/p/oblivionworks/enhancements/244/)

What the summary says. This way if Bash somehow accidentally deletes a file (see [here](http://forums.bethsoft.com/topic/1384517-relz-wrye-bash-thread-93/pageviewfindpostp21363538)) recovering it is simple.
No idea if Linux has a mechanism for this these days.

lojack5: Partially implemented, need to go through and fix up ot

[2014-02-25 04:29] lojack5 opened #33 "Replace wtxt with HTML"
[sourceforge](https://sourceforge.net/p/oblivionworks/enhancements/237/)

@WrinklyNinja: Wtxt is, as far as I am concerned, a horrible mutant half-breed of HTML and Wiki syntax that Bash uses to display generated formatted text. It's unique to Bash (ie. no tutorials or documentation on the internet) and AFAICT Bash reads in files that are in Wtxt, then converts them to HTML to display in wxWidget'

[2014-02-25 04:32] lojack5 opened #34 "Remove/Hide custom plugin timestamping"
[sourceforge](https://sourceforge.net/p/oblivionworks/enhancements/235/)

Now that Bash uses BAPI for load ordering, and Skyrim doesn't use timestamps for load ordering, the ability to set custom timestamps through Bash is useless (correct me if I'm wrong), as changing the load order through drag 'n' drop or the arrow keys would cause timestamps to be overwritten by BAPI on Oblivion, and timestamp

[2014-02-25 04:33] lojack5 opened #35 "Rework Mod Groups - remove BALO"
[sourceforge](https://sourceforge.net/p/oblivionworks/enhancements/234/)

BALO allows users to put plugins into arbitrary groups for load ordering purposes. These groups are also handy for selectively enabling/disabling groups of plugins, as you can deactivate or activate all the plugins in a group at once. However, BALO is deprecated and will shortly be removed.
Exclusion groups are a way for Bas

[2014-02-25 04:35] lojack5 opened #36 "Refactor generic launchers"
[sourceforge](https://sourceforge.net/p/oblivionworks/enhancements/232/)

Many of Bash's launchers are to utilities for which it provides no special icon, and no special options. The few that are specially handled include TES4Gecko, TES4Edit, TES4LODGen, BOSS and perhaps some of the other modding utilities also get special icons.
For the utilities without special handling, it would be neater if su

[2014-02-25 04:39] lojack5 opened #37 "Virtual BSAs - BAIN packaging of projected files into a BSA"
[sourceforge](https://sourceforge.net/p/oblivionworks/enhancements/227/)

Original request:

Obviously will require Bash/BAIN to support BSA handling to begin with, but perhaps there's a way to make this work by routing the request silently to BSAOpt if it's installed?

My idea would be much more far-reaching, similar to this MO2 plugin: https://github.com/ModOrganizer2/modorganizer-bsapacker
Basi

[2014-02-25 04:46] lojack5 opened #38 "Cancel a package install"
[sourceforge](https://sourceforge.net/p/oblivionworks/enhancements/221/)

Requested by bluesks404

There are multiple "setup" steps to installing a package - extracting the files, removing any read-only flag, then moving them into the data directory. We should be able to cancel at any point up to just before files are moved

[2014-02-25 04:47] lojack5 opened #39 "Preview of 'Clean Data'"
[sourceforge](https://sourceforge.net/p/oblivionworks/enhancements/220/)

It would be nice to have a preview of the files that will be removed from the data folder when 'Clean Data' is executed from the Installers tab.
Possibly with an option to either once or permanently exclude some files from cleaning.

[2014-02-25 04:51] lojack5 opened #40 "Improve BAIN readme/docs detection"
[sourceforge](https://sourceforge.net/p/oblivionworks/enhancements/217/)

BAIN should:
 - [ ] Detect readmes that are named similarly to the package they're in (e.g. `Manor Roads.txt` in `Manor Roads-24715-2-0-2-1563673145.7z`)
 - [ ] Install non-readme docs that are placed in the package root (this was always intended, it's just a bug in `refreshDataSizeCrc`)
 - [ ] Rename common docs (besides ju

[2014-02-25 04:52] lojack5 opened #41 "Sync to Data for archives"
[sourceforge](https://sourceforge.net/p/oblivionworks/enhancements/216/)

Martigen requested a 'Sync to Data' command that works on BAIN archives. It would unpack the archive, sync it with the data folder, then repackage the archive.

[2014-02-25 04:53] lojack5 opened #42 "Automatic 'Plugin Encoding' detection"
[sourceforge](https://sourceforge.net/p/oblivionworks/enhancements/215/)

With Unicode, I added the 'Plugin Encoding' option to get to a good compromise: Specifying a specific encoding greatly reduces processing time, as the plugin detection library doesn't have to process every string in a mod file, however, specifying a specific encoding means that every string will be interpreted using that enc

[2014-02-25 04:54] lojack5 opened #43 "Hide some "always recommended" Bashed Patch options"
[sourceforge](https://sourceforge.net/p/oblivionworks/enhancements/214/)

Suggested by wrinklyninja, my comments below:
Some Bashed Patch options should always be selected when building a patch for the end user. These options shouldn't necessarily be enforced, but to improve the interface (information overload), they should be hidden, and only accessible for advanced users that have opted to do so

[2014-02-25 04:55] lojack5 opened #44 "Add the ability to unhide projects"
[sourceforge](https://sourceforge.net/p/oblivionworks/enhancements/213/)

- [ ] BAIN can hide projects, but can't unhide them right now
- [ ] Add a link to open the hiding directory (to all tabs)

Original SVN description:

[2014-02-25 04:57] lojack5 opened #45 "SEFF icon tweaker"
[sourceforge](https://sourceforge.net/p/oblivionworks/enhancements/212/)

~~TODO: See if this is applicable for Fallout 3 / Fallout : New Vegas~~ - not applicable, the whole MGEF system got reworked after Oblivion

Gratis_monsta, on 29 December 2011 - 09:09 PM, said:
Like the Script Effect silencer, how about a script effect icon changer tweak? [This mod](https://www.nexusmods.com/oblivion/mods/20

[2014-02-25 04:58] lojack5 opened #46 "Per-plugin encodings"
[sourceforge](https://sourceforge.net/p/oblivionworks/enhancements/210/)

I've recently added a global option "Plugin Encoding", that tries the applicable encoding for that language when reading/writing plugins. This provides a speed improvement over the 'Automatic' mode (which is use chardet to detect the best encoding). Quite a big speed improvement actually, bluesky404 reported a 22 minute patc

[2014-02-25 05:00] lojack5 opened #47 "Recognize BCFs that are introduced via File drag'n'drop"
[sourceforge](https://sourceforge.net/p/oblivionworks/enhancements/209/)

When I drag'n'drop a *-BFC.7z file into the installer, it is registered as a package. Would be cool if it could be recognized as a conversion and moved to the appropriate folder.

[2014-02-25 05:01] lojack5 opened #48 "More visible BAIN comands"
[sourceforge](https://sourceforge.net/p/oblivionworks/enhancements/208/)

Make it easier and more visible to do some of the most common actions: Install/Uninstall/Wizard, Anneal. At the very least, move these items to the top of the context menu, probably bolding the Install/Uninstall/Wizard. We could go further and make a column of buttons down the left hand side (it's the place where it'd requir

[2014-02-25 05:02] lojack5 opened #49 "BAIN 'Update from file'"
[sourceforge](https://sourceforge.net/p/oblivionworks/enhancements/206/)

An easier way to update mods would be nice. Right now I have to:
1. Download the new file
2. Rename the downloaded file to the same name as the original file (I cleaned up the names of all my mods)
3. In Wrye Bash, uninstall the previous version (to remove any files that are no longer present in the new version)
4. Replace t

[2014-02-25 05:04] lojack5 opened #50 "'Data Tab': View of data folder with source installers"
[sourceforge](https://sourceforge.net/p/oblivionworks/enhancements/203/)

Being able to browse Oblivion's whole data directory, with an indication for each file of which package it comes from, would be very useful for debugging an install with many mods. Ideally you'd be able to click on the package name and be taken to the correct one in the installers tab.
Use cases:
- you discover a huge textur

[2014-02-25 05:05] lojack5 opened #51 "'NoMerge' and 'Deactivate' improvements"
[sourceforge](https://sourceforge.net/p/oblivionworks/enhancements/202/)

Currently, the only way for a mergeable mod to be separate from the bashed patch is to add NoMerge to the tags list. However, the NoMerge tag currently implies the Deactivate tag. This can be confusing and problematic for an end user, especially if they are unfamiliar with Bash, or if they are trying to track down a problem

[2014-02-25 05:08] lojack5 opened #52 "BAIN: Create a special package for vanilla files"
Basically, have BAIN setup a "Vanilla" package fixed at position 0 in the install order so it won't accidentally overwrite (and forever destroy) vanilla files.
Every time we are going to install a vanilla file, copy the original version into that package to preserve it. That way we don't have to break any BAIN rules to implement this (and can drop the Skip Bethsoft Content option).

Original svn i

[2014-02-25 05:09] lojack5 opened #53 "Jump from Mod List to the Installer that installed a mod"
[sourceforge](https://sourceforge.net/p/oblivionworks/enhancements/199/)

The names in the "installer" column in the mods tab should be hyperlinks that lead you to the corresponding BAIN package on the installers tab. If technically difficult, a context menu option that does the same would be useful as well.

[2014-02-25 05:12] lojack5 opened #54 "Make a wiki page showing how to use the WBSA to launch with custom source files"
In reference to [sourceforge](https://sourceforge.net/p/oblivionworks/enhancements/198/)

Make a wiki page that shows how you can use the WBSA executable to run Wrye Bash with the source code exposed, without requiring installing Python.

[2014-02-25 05:16] lojack5 opened #55 "Edit translatable strings for easier translation."
This is in relation to [Unicode Guidelines](https://github.com/wrye-bash/wrye-bash/wiki/%5Bdev%5D-Unicode-Guidelines):

Go through all translatable strings and update them to:
- [x] Remove wtxt formatting
- [x] Remove newline characters
- [x] Remove leading and trailing whitespace
- [x] Change formatting specifiers `%s` into `%(name)s` ones

Blockers:
 - [x] #460

Useful resources:
 - Tracking reg

[2014-02-25 10:11] WrinklyNinja opened #56 "Bash Readmes handling"
@wrye-bash: We have an online readme on Sourceforge, should I set one up here?

[2014-02-25 18:33] #34 closed

[2014-02-25 20:55] #17 closed, assigned to Ortham

[2014-02-25 21:52] lojack5 opened #57 "Remove the auto-updater"
The Bash auto-updater:
1. Causes problems when it sometimes decides to check for updates continuously
2. Requires a very specific file naming and release process on SourceForge to work.
3. Was specifically for SourceForge.

I think it should be removed completely.

Later we can rethink the idea using the GitHub API, but at the moment the problems far outweigh any benifit, so much so that I'd even

[2014-02-25 23:26] Ortham opened #58 "Release Instructions - preparing 304.4"
I've written up a guide to [Making A Release](https://github.com/wrye-bash/wrye-bash/wiki/%5Bgithub%5D-Making-A-Release) on the wiki.

It's not quite done, I'm a bit fuzzy on the Nexus and forum thread procedure, I've never done a Bash release, so I'm not quite sure what it entails. If @wrye-bash could check it and fill it out as appropriate, that would be great. Also the extra requirements for bu

[2014-02-26 14:54] Utumno opened #62 "Pycharm warnings"
Opening this to track the work on smoothing out warnings/errors reported by the IDE I use. If anyone installs Pycharm ([community, free](http://www.jetbrains.com/pycharm/download/)) it would only help. For the moment I have a branch here:
https://github.com/wrye-bash/wrye-bash/commits/utumno-pycharm-warnings

[2014-02-26 14:59] Utumno opened #63 "Extensions API - UI refactoring"
Refactoring the UI when started should be done with the final goal of being able to provide an API for developers to extend Bash. This I suggest be done by providing an API for new _tabs_, ie the Wrye Bash extensions should add tabs to the main app. Our main tabs (Installers, Mods, Saves, Ini tweaks etc) should be refactored to such extensions.

[2014-02-26 15:06] Utumno opened #64 "Settings refactoring"
We should factor out the settings of our application and implement the UI of the settings as a new tab. Subgoals:
- ~~drop the ini - this involves rethinking game management~~ no, the ini stays, it's a good thing (even eclipse has one, less documented than ours ofc)
- modular settings - so one can keep installers settings while resetting UI etc. This needs thought
- backing up/reverting in a modul

[2014-02-26 15:24] Utumno opened #65 "Game handling refactoring"
We should be able ideally to use Bash at least in the elder scrolls family without much work. We need to scan the code and factor the game specific code out into modules but we also need an internal API. Marking this as question cause there is already some modularity - we maybe need a wiki article detailing the current situation ?
- [x] come up with a layout of game packages (edit: mostly done: ht

[2014-02-26 20:34] Metallicow opened #66 "Questions About Bashs Widgets"
Just a question collection about some of the smaller widget related stuff.

Anywho...
Q1. Is there a reason ThinSplitterWindow was used?
Graphically I see no difference between it and SplitterWindow.
Plus gizmos is an oddball module.
If nothing useful is came up with specifically, I'll probably run the Q. by Robin and if nothing special(It may be dropped now and just lingering), the few instances

[2014-02-27 00:51] #57 closed, assigned to lojack5

[2014-02-27 12:28] Utumno opened #67 "Wiki"
Does not support categories I'm afraid - went ahead and renamed the articles to group better (was taking time to spot the article one was interested in and would only get worse). I am afraid now I might have broken existing links - this says something - no links from this wiki (except if we agree on some pages). This is our dev wiki.

I open this to discuss wiki related things:

- Agree on the [de

[2014-02-28 16:54] #28 closed, assigned to lojack5

[2014-03-01 00:39] Metallicow opened #68 "PopupMenu Items StatusBar StausText"
I did all these at one time but seem like that went missing somewhere...

All popup menu links should have a descriptive StatusText that shows in the statusbar.
Ex: Export>NPC Levels... has StatusText Help
but a lot of the others are missing on mouse hover/enter.

Need to go though and add them all again. Docstrings had a lot of this infos. Add them to links so the user know what an item will do.

[2014-03-01 17:47] #18 closed, assigned to nobody

[2014-03-01 18:25] Utumno opened #69 "Repository Readme"
We should write a "README.md to go in the repository root, to describe Bash and its repositories a bit" (see issue https://github.com/wrye-bash/wrye-bash/issues/56 which I renamed to "Bash Readmes handling" from "Online Readme").

Started one in the wiki - feel free to edit: https://github.com/wrye-bash/wrye-bash/wiki/Repository-Readme-DRAFT-%28WIP%29

[2014-03-02 00:36] #25 closed, assigned to lojack5

[2014-03-02 00:39] Utumno opened #70 "Transfer the trackers from sourceforge"
@lojack5 : add what's left to do when you get the chance.

Maybe have a look at https://github.com/ttencate/sf2github ? If you decide doing it this way I would recommend doing it in a throw away repo once first as we can't delete issues - in case anything goes wrong.

Also I have no admin rights so I don't think I can do much - hilfe!

[2014-03-02 02:05] #21 closed, assigned to Utumno

[2014-03-02 18:43] Utumno opened #71 "Copyright and license"
We should take care of this also - preferably in a one off commit in `dev`. Also add a license (preferably in packaging for release - not in the dev branch, I hate those license files)

I saw @lojack5 using wrye-bash - what you say ?

[2014-03-02 21:43] Utumno opened #72 "Unused variables"
Fall into two broad categories:

- Loop variables that are not used - will discuss what to do with those
- genuine unused variables - these must be eliminated after examining them as they may point to bugs (someone defined a variable and forgot to use it, or used another name etc).

While I work, pydev highlights both kinds but my familiarity with the code is not that great so as to decide what to

[2014-03-03 07:34] Metallicow opened #73 "wrye-bash-wizards repo"
There was talk about making an online repo for install wizards back around when the refactor was originally brought up.
Basically now that we have everything moved to github, this should be real easy to do.
And github would be a great place for it anyway, since it's easy for folks to submit different types of stuff here.

This would provide a ideal spot for different mods with/without wizards for

[2014-03-03 18:36] #71 closed, assigned to lojack5

[2014-03-03 19:16] Utumno opened #74 "Wrap lines to a manageable size"
Well - what you say ? As discussed in the wiki on Coding style 80 chars is rather few (though it would be ideal) but on the other hand it is a constant pain diffing those files.

So what I suggest is
- agree on a max line width: ___ -> 79
- when moving code to new files wrap long lines (aiming at ~~80~~ 79)
- assign files to people to wrap them - once most is done while moving the code

What you s

[2014-03-06 15:52] Utumno opened #75 "Rebase sharlrikran-dev on dev"
Alright I went ahead and rebased sharlikran's branch on `dev` - rebase as in:

`git merge --squash -s recursive -X ours  sharlikran-dev`

@Sharlikran (& @WrinklyNinja) : this branch contains changes BOTH to  skyrim.py and fallout related ones (and more ?). Please split it to 2 (or more ?) branches as necessary after checking all (and only) relevant changes are in there.

NB: there are some newline

[2014-03-08 03:53] Utumno opened #76 "Remove the rest of IDE specific files and move them on meta"
What it says - not directly on dev, branch issue-76

[2014-03-08 18:35] Utumno opened #77 "edit the gittatributes for binary files"
[code]

[2014-03-09 18:31] Ortham opened #78 "Commit Author Rewrite"
I'd like to do another rewrite to change the commit authors from the SVN-imported commits to match their GitHub accounts (for those that have them) - I have to re-author a few commits anyway, so if I can find a neat script to do this en-mass, I think it would be worth doing to gain some better metrics.

[2014-03-09 18:40] Ortham opened #79 "Two-Factor Auth for Admins"
@wrye-bash: I'd like to propose that only those who have two-factor authentication enabled on their GitHub accounts be put into the Owners admin team for the wrye-bash organisation - as a recent event showed, it is all too easy to get mixed up and accidentally include your password in the commit data.

I think that this could probably have happened to any of us, and 2-factor auth would at least pr

[2014-03-10 13:18] Utumno opened #80 "Mirroring the repo"
As discussed in https://github.com/wrye-bash/wrye-bash/issues/79 it would be nice to have a script in some other git repo, or google code or whatever which would mirror ours - just in case. The difficult part would be the tracker I guess. The rest (wiki, code) should be easy

[2014-03-11 22:10] #78 closed, assigned to Ortham

[2014-03-11 22:46] Ortham opened #81 "Add launcher for LOOT"
Since BOSSv3 is now LOOT, the BOSSv3-related changes to BOSS's launcher should be undone, and a new launcher added for LOOT. @lojack5, do you have any pointers of what would need to be added for a new launcher?

The BOSSv3 masterlist/userlist locations should also be updated to point to the LOOT locations. Replacement of the API isn't part of this issue, since it works well and IIRC there haven't

[2014-03-13 00:19] #79 closed, assigned to Ortham

[2014-04-01 15:38] #69 closed, assigned to Utumno

[2014-04-04 11:33] Utumno opened #82 "Tags point to the old rebased commits"
All tags (except [SVN-3177-dev-fork](https://github.com/wrye-bash/wrye-bash/releases/tag/SVN-3177-dev-fork) and later ones (304.4, 305)) point to the commits before the "authors history rewrite" - should be moved to the new commits and the references they pointed to should be garbage collected. Notice the 2576 commits behind `dev` : https://github.com/wrye-bash/wrye-bash/releases/tag/v304.3 - the

[2014-04-06 19:08] lojack5 opened #83 "Rework the Plugin Checker to warn about more advanced types of problems"
The plugin checker (previously called 'mod checker', but we're trying to get away from terms like 'mod' and 'espm') is quite useful already. It includes a function to check for deleted references, which needs to load the plugins to do its thing. We can piggyback off of this and do more general analysis to check for more problems. In the end, the plugin checker should be able to check for:
- Corrup

[2014-05-02 21:32] lojack5 opened #84 "BashMon is not launched via the Toolbar correctly."
The command line switch to start BashMon is `--bashmon`.  However, when Bash is launched like this, it still needs to be able to find Oblivion.  Also,in the code for the button, it's specifically launched via `Wrye Bash Launcher.pyw`, which obviously won't work for the Standalone version.

So things that can cause the button to not work at all:
- Running Wrye Bash Standalone
- Having both Skyrim a

[2014-05-13 17:45] lojack5 opened #85 "BashMon has Unicode handling errors."
Most likely introduced when the rest of Bash was updated to handle Unicode correctly, BashMon has Unicode encode/decode errors when attempting to swap faces (and most likely in other bashmon functions as well):

[Error report:](http://forums.bethsoft.com/topic/1482255-relz-wrye-bash-thread-99/page-6#entry23611360)

[code]

[2014-05-27 07:36] louy2 opened #86 "Restriction On Executable"
Wrye Bash refuses to install executable into the game folder, and also refuses to track folders other than the commonly used ones. Thus it cannot manage in my case, FNIS and Bodyslider, of which former is almost a universal prerequisite for any animation mods, and latter is a popular female body mesh and texture replacer generator.

What's your opinion on this restriction?

[2014-05-27 12:19] #86 closed

[2014-05-27 13:05] Utumno opened #87 "shellMakeDirs may fall into an infinite loop"
[svn](https://sourceforge.net/p/oblivionworks/bugs/276/)

Took a while to pin this :

[code]

I think this is high priority cause debugging this in the threads would be a PITA

[2014-05-27 13:12] Utumno opened #88 ""Launch Bashmon" does nothing, and OBSE error in-game"
[svn](https://sourceforge.net/p/oblivionworks/bugs/271/)

So I've installed Wrye Morph for Oblivion, but the mod doesn't work because Bashmon won't work. Also, when I tried to activate Coisma whateverhernameis's body, it said "OBSE error. Recorded in obse.log", and I couldn't interact with her body afterwards. I have attached the obse.log. At the bottom it says " Script Error: Script 2e006e84 in f

[2014-05-27 13:17] Utumno opened #89 "INI Edits modifies the wrong INI file when using Mod Organizer"
[svn](https://sourceforge.net/p/oblivionworks/bugs/269/)

When running Wrye Bash through Mod Organizer, clicking on the INI Edits tab displays the correct ini file for the active Mod Organizer profile but if you click the Edit button, it opens the wrong INI file - it opens the .ini file found in the MyDocuments/Game folder. Clicking on any of the checkboxes also applies changes to the wrong ini fi

[2014-05-27 13:21] Utumno opened #90 "sort order reverses"
[svn](https://sourceforge.net/p/oblivionworks/bugs/267/)

When using sort by selected, after activating or deactivating a mod, each subsequent mod activated or deactivated will reverse the sort order. The fix is included here below.

On line 1055 in basher.py under def checkUncheckMod(self, *mods), add:

to the if statement block. My hypothesis is that if this line is not added, every time GetSort

[2014-05-27 13:25] Utumno opened #91 "Mods Tab: Load -> All throws an exception"
[svn](https://sourceforge.net/p/oblivionworks/bugs/265/)

Using the Load -> All function of the mods tab throws the following exception:

[code]

Libloadorder probably expects to be passed a list containing skyrim.esm while getting passed an empty list or something like that.

[2014-05-31 00:06] #90 closed, assigned to lojack5

[2014-05-31 19:42] #89 closed

[2014-05-31 20:29] Utumno opened #92 "[Oblivion] Bashed Patch changing hardcoded FormIDs"
[svn](https://sourceforge.net/p/oblivionworks/bugs/257/)

[Discussed in the forum thread](http://forums.bethsoft.com/index.php?app=forums&module=forums&section=findpost&pid=22419626), when a bashed patch alters a record from a mod that doesn't have Oblivion.esm as master, and said record uses a hardcoded formID, the patch is changing the formID in the record to have the modIndex of the first maste

[2014-05-31 20:32] Utumno opened #93 "BAIN is no longer auto-annealing even with the setting enabled (possibly resolved)"
[svn](https://sourceforge.net/p/oblivionworks/bugs/255/)

When updating a mod with a new version, it is standard practice to anneal it into place. This should be updating not only its own status, but the status of other mods above it in the package order.

The only time this should NOT happen is when auto-anneal is turned off.

However, the problem is that the setting is being completely ignored.

[2014-05-31 20:38] Utumno opened #94 "Comments box forgets its size"
[svn](https://sourceforge.net/p/oblivionworks/bugs/252)

In installers tabs the comments box forgets its size - was presumably fixed but seems it's a recurring one - last reported [here](http://forums.bethsoft.com/topic/1436327-relz-wrye-bash-thread-27/page__view__findpost__p__22178685)

[2014-05-31 20:46] Utumno opened #95 "'int' object has no attribute 'startswith'"
[svn](https://sourceforge.net/p/oblivionworks/bugs/260/)

OP:
Reported [here](http://forums.bethsoft.com/topic/1459682-relz-wrye-bash-thread-97/page-2#entry22698364) (and [here](http://forums.bethsoft.com/topic/1459682-relz-wrye-bash-thread-97/page-2#entry22699606)) - and I've sure seen this before

Daidalos commented:

[2014-05-31 20:53] Utumno opened #96 "BAIN Installers does not install all files"
[svn](https://sourceforge.net/p/oblivionworks/bugs/259/)

OP:
I've come across a strange bug. I have multiple archives which I install through via BAIN Installers. It registers the archives, I then install them...but when I do "Refresh Data", some of them come up as not being completely install.
Even "Anneal All" doesn't help. It just shows them as being correctly installed until I restart or I do

[2014-05-31 21:22] Utumno opened #97 "Ini Tweaks throw an Exception under Japanese Locale"
[svn](https://sourceforge.net/p/oblivionworks/bugs/264/)

OP - Daidalos:
Having the system locale set to Japanese causes an exception when creating a ini tweak and makes the ini tab disappear.

For details see [this post](http://forums.bethsoft.com/topic/1459790-relz-wrye-bash-thread-31/page-2#entry22783786).

Toxic:

[2014-05-31 21:42] Utumno opened #98 "Installers.dat is not backed up when prompting user to backup settings on version change"
Which is scary - as this is one of the settings files that potentially contains _a lot_ of work.

Noticed this in my set up where I have the location of the installers data specified in my ini - may be affecting manual backup toο

[2014-05-31 22:03] Utumno opened #99 "Make splash screen optional"
Via an ini tweak

Current workaround - delete the png (duh)

A clean commit doing this could serve as a reference to the code paths of adding a setting

[2014-05-31 22:08] Utumno opened #100 "Duplicate entries in the LO"
[svn](https://sourceforge.net/p/oblivionworks/bugs/249/)

OP:
There are (sometimes) duplicate entries in the LO saved by Bash (verified in Oblivion for DLCShiveringIsles.esp - don't know if relevant) - this resulted in bogus "this mod has the same LO as another mod" warnings. On closer inspection on the mods tab you can notice gaps in the LO see [this pic](http://www.bild.me/bild.php?file=5715669h

[2014-06-01 22:34] #99 closed, assigned to lojack5

[2014-06-01 22:52] #87 closed, assigned to lojack5

[2014-06-01 22:57] #98 closed, assigned to lojack5

[2014-06-01 23:05] #91 closed, assigned to lojack5

[2014-06-05 12:07] WNovizar opened #101 "Record Processor Errors when tagging mods with CBash Mergable"
Hi,

I got these errors when I tried to tag CBash Mergable  ElsweyrAnequina.esp and Walkabout.esp:

RecordProcessor: Warning - Information lost. Record skipped with duplicate formID: 00000000
RecordProcessor: Warning - Information lost. Record skipped with duplicate formID: 00000000
RecordProcessor: Warning - Information lost. Record skipped with duplicate formID: 00000000
RecordProcessor: Warning

[2014-07-01 14:57] nqtran97 opened #102 "can't start wrye-bash"
Error! Unable to start Wrye Bash.

Please ensure Wrye Bash is correctly installed.

Traceback (most recent call last):
  File "bash\bash.py", line 426, in main
    import bosh
  File "D:\The Elder Scrolls V Skyrim - Legendary Edition\Mopy\Wrye Bash Launcher.pyw", line 63, in load_module
    mod = imp.load_source(fullname,filename+ext,fp)
  File "bash\bosh.py", line 58, in <module>
    import balt

[2014-07-05 14:37] Utumno opened #103 "Build script improvements"
The script apparently reads the release number from bass - so it reads _next _release_ and construct filenames like "Wrye Bash 305 - Python Source.7z"
Also chokes on wrong python path - it should prompt the user (my python is in C:\_\Python27). Also the script should ideally verify that python is 2.7 - especially if it reads registry values which might very well point to Python3

assigning to you

[2014-07-05 14:41] #102 closed

[2014-07-06 19:50] Utumno opened #104 "Testing"
We need to add tests - this is a big thing for such a huge project but hopefully once the patchers are refactored we could start looking at this. We may need a mod database too (in some other repo ofc).

I open this **strictly** to discuss tools and technologies that we may use as well as packaging, hooks etc - at time

Also from another issue I opened (I forget, I forget)

We need to discuss and

[2014-07-06 21:32] tarends opened #105 "Copy Conflicts to Project not working"
Wrye Bash 304.3 Standalone

Traceback (most recent call last):
  File "bash\basher.pyo", line 10773, in Execute
AttributeError: 'InstallerArchive' object has no attribute 'tempDir'

[2014-07-07 15:32] Ortham opened #106 "Swap out BOSSv3 API for LOOT API"
So I'd been holding off on doing this because there were some API changes in v0.6 that I wanted released first. Now that's done, I'd like to swap the API that Bash is currently using for the latest API.

I think I just missed the v304.4 release, but I think it's worth doing for the next release, because:
- Bug fixes
- No MSVC 2013 dependency

I'm going to have to re-familiarise myself with Bash's

[2014-07-07 17:14] lojack5 opened #107 "Installer Handling of MSVC Redistributables"
The current setup for the Automated Installer goes like this:
- **MSVC 2005:** No reliable way to detect if it's installed, the Installer always downloads and runs the redist package for this one.  However, the installer also installs the necessary files to not even need the redist `Mopy/bash/compiled/Microsoft.VC80.CRT`.  This is needed for `7zUnicode.exe`, which was built against it.
- **MSVC 20

[2014-07-08 13:17] lmstearn opened #108 "First Time Users Wizard Check"
If a user installs a mod for the first time without running the wizard, an alert appears:

"Wizard supplied with mod. Wizard is recommended for first time installation. Do you really want to install?
<Button Wizard>               Button <Install>
[Checkbox] Don't show me this again"

[2014-07-08 13:43] lmstearn opened #109 "Menu item to load only selected mods"
In the mods tab, right click column header there should be a "Load Selected" along with "Load All" and "Load None"

[2014-07-08 13:53] lmstearn opened #110 "Wizard Can Optionally Activate Mods"
In the Wizard View Selection page:
After "Apply These Selections" there is triggered

[Activate selected mods checkbox]

which again triggers

[Run Boss to fix the new load order checkbox]

[2014-07-08 18:26] #58 closed, assigned to Utumno

[2014-07-09 15:12] Sharlikran opened #111 "Cannot load plugins before masters"
I tested WrinklyNinja's changes for commit 051f8925041e64b8bd5c5dd31c18659aab77ad1b and it does seem to be working as intended now.  I can have the user test it.  However, it's showing as version 305 and not 304.4 or 305.5 or 304.4.1.  If this is released as a HotFix what version number should be used?  How do you guys want to handle it?

[2014-07-09 22:16] #111 closed, assigned to Ortham

[2014-07-10 00:49] #75 closed

[2014-07-10 17:23] Utumno opened #113 "Memory/cache leaks when the Patch building finishes (or crashes)"
In the back burner for now - just reporting it
See also #95 for a cache leak
There should be a finally someplace that closes resources - or even better have the resources play with `with`
In general we must revisit the patch building process with the resources leak in mind

[2014-07-11 01:37] lojack5 opened #114 "Bashed Patch Tweak Settings options are not persistent."
Currently, the sub-options under Tweak Settings for the Bashed Patch dialog aren't being saved.

[2014-07-11 02:35] #114 closed, assigned to lojack5

[2014-07-11 21:55] #106 closed, assigned to Ortham

[2014-07-12 18:41] #107 closed, assigned to lojack5

[2014-07-13 17:27] lojack5 opened #115 "Error in Installers Tab after deleting a Save Game"
[Forum Post](http://forums.bethsoft.com/topic/1497553-relz-wrye-bash-thread-36/page-5#entry23697289)

It's basher.py adding the save game to the trackedInfos singleton.  If the save games are stored on a different hard drive than the game folder this happens.

TODO: Modify the logic a little to take this into account.

[2014-07-13 17:53] #115 closed, assigned to lojack5

[2014-07-14 14:57] Utumno opened #116 "Move record groups out of bosh"
@D4id4los  had this idea of moving the record groups out of bosh:https://github.com/wrye-bash/wrye-bash/commits/daidalos-patcher-refactoring

I rebased on dev here:
https://github.com/wrye-bash/wrye-bash/commits/daidalos-patcher-refactoring-on-dev

I took this and corrected some import errors, a pyc commit etc:

https://github.com/wrye-bash/wrye-bash/commits/utumno-daidalos_record_groups

@lojack5

[2014-07-23 11:28] Sharlikran opened #117 "Regression: can't install/uninstall rar files in 305 dev build"
Pertinent post [here](http://forums.bethsoft.com/topic/1497553-relz-wrye-bash-thread-36/page-6#entry23710423)

304.4 does not let you install or uninstall rar files.  Also if you are now using 304.4 you can't revert to 304.3 and uninstall them because there is an error noted in link above.

[2014-07-24 01:21] Sharlikran opened #119 "Backup Bash Settings causes exception"
When backing up Bash Settings Wrye Bash will cause an exception.  [Pertinent post](http://forums.bethsoft.com/topic/1497553-relz-wrye-bash-thread-36/?p=23710789)  Error moved to [paste bin](http://pastebin.com/Yq9MXDdx) as well.

[2014-07-25 17:36] #117 closed, assigned to lojack5

[2014-07-25 19:56] #116 closed, assigned to Utumno

[2014-07-25 20:14] #105 closed, assigned to Utumno

[2014-07-26 11:15] #119 closed, assigned to jfpelland

[2014-07-27 12:01] AlucarDraculA opened #121 "Wrye Bash "locale.Error: unsupported locale setting""
Run a couple of days ago, and today has become to produce an error.

Taken from "Wrye Bash.exe.log":

Traceback (most recent call last):
  File "Wrye Bash Launcher.pyw", line 90, in <module>
    from bash import bash
  File "zipextimporter.pyo", line 92, in load_module
  File "bash\bash.pyo", line 41, in <module>

  File "zipextimporter.pyo", line 92, in load_module
  File "bash\bolt.pyo", line 29

[2014-07-27 20:19] Utumno opened #122 "Move oblivion patcher utility classes out of bosh"
The commits are ready: https://github.com/wrye-bash/wrye-bash/tree/utumno-utilities_rip

The exact module layout is open (and will open an issue for it) but this is 306+

On top of this branch lies https://github.com/wrye-bash/wrye-bash/tree/utumno-unused_variables where I correct some warnings (a couple of which may point to bugs as usual) - including unused variables (discuss in #72)

Please rev

[2014-07-28 16:56] #121 closed

[2014-07-28 22:49] Utumno opened #123 "Huge lag when switching back to mods tab from another application"
I meant to post this in a while

Bash is virtually unuseable with my LO and my installers - whenever I switch to another application and back to Bash the lag is about 20 secs - and my machine is _fast_ - 20 seconds on this machine is clearly a bug
This is especially pronounced with my mods tab -

I distinctly remember Bash was really snappy - the only thing that took time was refreshing the instal

[2014-07-28 23:35] Utumno opened #124 "Patcher modules layout"
@lojack5 said:

[code]

Since I am about to actually move the patchers out I want us to discuss the layout in detail - that is in class level. Chime in!

Edit: I mean to clarify, among others:
- how much is game independent in the patchers - in other words what is the patchers _API_
- which classes need to go with them (I already ripped the utilitties classes - but had to import them in basher too

[2014-07-29 15:17] madebycambiamentico opened #126 "Wizard exceptions"
i'm creating this wizard:

[code]

it throw this exception:

[code]

[2014-07-30 01:02] #122 closed, assigned to Utumno

[2014-07-30 23:22] #95 closed, assigned to jfpelland

[2014-08-07 18:47] #126 closed, assigned to lojack5

[2014-08-07 19:10] #103 closed, assigned to lojack5

[2014-08-08 16:13] madebycambiamentico opened #129 "folder/files not recognized"
hi, i'm back with a new _real_ issue this time.
this is a zip structure:

[code]

"00 Core" content not recognized until putting in a fake standard path with at least a file (for example "00 Core/Docs/fakereadme.txt", or "00 Core/Meshes/fakemesh.txt").
HasExtraDirectories not working in this cases, until puttin in a fake standard path with at least a file.

files not recognized with exe extension

[2014-08-12 23:21] lojack5 opened #130 "Regression: BAIN does not uninstall all files"
As the topic states, not all files are removed properly when uninstalling packages.

[2014-08-14 04:36] #130 closed, assigned to lojack5

[2014-08-15 03:22] lojack5 opened #133 "DocBrowser errors when the set doc file is missing"
First reported by bluesky404 [here](https://web.archive.org/web/20200216205254/http://forums.bethsoft.com/topic/1505167-relz-wrye-bash-thread-37/page-3#entry23735963)

There are a few bugs that happen in DocBrowser if the assigned document is missing for a plugin.  This one specifically is an error when the template readmes are also missing.  Brief investigation looks like there is probably also a

[2014-08-15 12:43] #129 closed

[2014-08-16 01:20] jfpelland opened #135 "Error when adding a shortcut to a batch script to the Apps folder"
To reproduce, put a shortcut to a batch script in the Apps folder. And, obviously, create the Apps folder if it isn't present. Run Bash in debug mode for either Oblivion or Skyrim, the game used is irrelevant. Running in debug mode is important here - the error goes unreported when run normally. And tada! A fresh new stack trace in the main log file. Tried this on both my primary Windows 7 install

[2014-08-17 08:26] #135 closed, assigned to jfpelland

[2014-08-17 19:14] #133 closed, assigned to lojack5

[2014-08-17 20:20] lojack5 opened #136 "Program Freeze: Deleting plugin via the interface"
bluesky404 is having an issue where trying to delete plugins through the interface are causing a program freeze, followed by the window changing to Not Responding, and crash.  Specifically this is happening with the Bashed Patch, I don't know if it happens with other plugins.  The plugin does get deleted, so it's something in the refresh afterwards that is freezing.

I have not been able to reprod

[2014-08-19 08:05] Sharlikran opened #137 "Wrye Bash processing all Leveled lists for active and inactive plugins"
Wrye Bash processes all the leveled lists regardless of what you select in the leveled list panel.

![image](https://cloud.githubusercontent.com/assets/1912426/3963147/e01880d0-2776-11e4-83d6-f84ff2368b31.png)

So say I wanted to only have TERA Armors leveled lists processed by Wrye Bash.  That would be dumb but for the bug report say that's what I chose.  So basically you are going to end up with

[2014-08-22 18:48] #137 closed

[2014-08-22 19:33] lojack5 opened #140 "Standalone reading loose Python files"
A long time ago, I added a custom `zipextimporter.py` for creating the standalone.  The custom one allows the Standalone exe to both look inside for the Python files, and externally.  The external files take precedence, so if they exist, the standalone will use them.

Initially the intention was that a user would install the Standalone only, and then we could release hotfixes for important errors

[2014-08-22 20:03] #140 closed, assigned to lojack5

[2014-08-22 23:13] Arthmoor opened #141 "Skyrim - New GMST settings tweaks requests"
It was recently discovered that two GMST settings can improve the behavior of NPC sandbox packages that use a radius around a marker.

fSandboxCylinderTop (default: 150) and fSandboxCylinderBottom (default: -100) can both be altered to increase the vertical detection so NPCs will interact with more objects.

It's not really a suitable change for the USKP because each person may want to adjust this

[2014-08-23 21:45] Arthmoor opened #143 "skyrim_const.py is missing the 3rd hi-res DLC file in bethDataFiles array"
The bethDataFiles array is missing two of the hi-res DLC filenames:

highrestexturepack03.esp
highrestexturepack03.bsa

If the first two are going to be listed, so should the 3rd.

[2014-08-24 00:03] #141 closed, assigned to jfpelland

[2014-08-24 00:03] #143 closed, assigned to jfpelland

[2014-08-25 15:21] Ortham opened #144 "Split game names into filesystem and display strings"
At several instances throughout Bash's code, it creates path variables to game-specific data using `bush.game.name`. This same variable is used to display the game's name, at least in the title bar and maybe elsewhere too.

For Oblivion and Skyrim, this is OK, because their values for that variable are `Oblivion` and `Skyrim` respectively. These match the names of the `%LOCALAPPDATA%` folders Beth

[2014-08-27 08:28] #144 closed, assigned to Ortham

[2014-08-30 18:23] lojack5 opened #148 "Reading of Skyrim INI files"
Bash only reads the Skyrim.ini located in the user's directory.  However, the game will read "along-side" INI files as well.  For example, if there is a Dawnguard.ini, that will be loaded as well and override some settings in Skyrim.ini.
- [x] Determine the order that these along-side INI files are read - Is it alphabetical?  Is it the order their associated plugins are loaded (probably)?  Do inac

[2014-09-02 11:43] Utumno opened #149 "[Ini setting] Disable prompt for activating bashed patch"
When building the patch for testing purposes this dialog adds a lot to the lag - an ini option would suffice

[2014-09-02 13:55] Sharlikran opened #150 "Fallout support"
I am currently working on and testing changes in a test branch [dev-fallout-patcher-update](https://github.com/Sharlikran/wrye-bash/tree/dev-fallout-patcher-update).  Once I have enough code in place to make an organized and clean pull request I will be basing the pull request off of [feature-fallout-support](https://github.com/wrye-bash/wrye-bash/tree/feature-fallout-support).

As refactoring pro

[2014-09-02 14:16] Sharlikran opened #151 "Port all patchers to Skyrim"
I am currently working on and testing changes to Skyrim's patchers.  All changes for Skyrim and Oblivion should be made to 151-skyrim-patchers and wrye-bash contributors should comment on changes in this issue.  151-skyrim-patchers will be rebased off of dev each time Utumno merges changes.

Branch: https://github.com/Sharlikran/wrye-bash/tree/dev-skyrim-tes4-update

Tasklist:
- [x] Decide whether

[2014-09-02 20:58] #82 closed, assigned to Utumno

[2014-09-05 13:37] #149 closed, assigned to Utumno

[2014-09-06 19:42] Sharlikran opened #153 "Add 'NoFlstMerge' Bash Tag"
Skyrim's FormID Lists can't always be merged if a mod depends on the order of the LNAM records for the Papyrus scripts.

Solution: Create a Bash tag that indicates when a mods FormID Lists cannot be merged. If even one mod has this tag then the list is not merged into the Bash Patch.  The same with Relev, Delev the 'NoFlstMerge' tag applies to the entire mod even if only one FLST requires it.  Whe

[2014-09-09 11:31] amackenzie opened #154 "bash.ini : add setting for BOSS executable location"
In the section at the bottom of bash.ini, where you can manually set the location of certain builtin launchers, there's no such entry for BOSS. Since I have BOSS in a location that wasn't automatically detected, I can't access the menu entry to unlock order on BOSS runs, since adding BOSS as a manual shortcut to the Apps folder does not add that entry to the context menu.

[2014-09-10 07:45] Saverion opened #155 "Error when applying BCF"
Traceback (most recent call last):
File "bash\basher.pyo", line 10767, in Execute
File "bash\bosh.pyo", line 7210, in apply
File "bash\bosh.pyo", line 7483, in unpack
TypeError: coercing to Unicode: need string or buffer, Path found

When i try to apply a BCF to an archive with Wrye Bash stand alone version 305 this error come and the conversion into a BAIN friendly archive stop.

[2014-09-11 18:00] alt3rn1ty opened #157 "Mergeable plugins do not auto deactivate"
Reference post on BGS forum http://forums.bethsoft.com/topic/1507008-relz-wrye-bash-thread-38/#entry23763120

Found a minor problem with Wrye Bash 305 Standalone, for Skyrim

Example mod ( Just found this recently, really nice and a potential Bash Tweak ? ) - http://www.nexusmods.com/skyrim/mods/57376/?

Its just a couple of GMST tweaks, if you choose the second file as an option, it is fully merg

[2014-09-14 16:32] StephenCarboni opened #158 "INI line endings are changed to nix"
The EOL for INIs gets changed to UNIX.

I don't see the point in this as opening the INI when you click "Edit..." opens it in notepad.

[2014-09-17 00:17] Utumno opened #160 "CBash_GlobalTweaks are not applied"
As far as 304.4
- Built a CBash patch
- Select _manually_ (because of #114) the thieves guild, timescale and Crime:Jail tweaks (the globals)
- Build the patch - they are nowhere to be seen in the logs

Workaround:select them manually and change their value

@lojack5 is this related to #114 ?

EDIT: selecting the _defaults_ manually has no effect also...
EDIT2: or is this to be expected because tho

[2014-09-19 19:52] RoclorD opened #161 "Behaviour of the NoMerge tag"
New here, so don't bite.

Here's a problem from WB thread:
Is there any way one can prevent MOBS SI.esp of asking about deactivating it with every patch rebuild? It has NoMerge and Stats tags, but it shouldn't be deactivated beacause of this: http://i60.tinypic.com/2j2fe9v.jpg

So UOP wins with MOBS even when loaded earlier than MOBS. And UOP tags are {{BASH: Actors.ACBS, Actors.AIData, Actors.AIP

[2014-09-26 21:28] Arthmoor opened #162 "Bash loads an invalid plugins.txt without notifying the user of the error."
Wrye Bash (presumably all versions) has a somewhat critical bug when the program loads.

If another mod manager (MO or NMM apparently) has allowed a user to select more than 254 plugins as active, Bash does not inform the user of this problem until an attempt is made to build a bashed patch.

Bash should instead validate the contents of plugins.txt to ensure that there are not too many activated m

[2014-10-02 09:50] Utumno opened #163 "Basher package"
Basher must be split to a package. Subgoals:
- [x] de-wx'ing -> see #190
- Better and cleaner mechanism for defining and loading tabs
- [x] ~~balt~~ gui package -> see #190
- [x]  Link API #174
- [x]  Details panels #293

306:
- [x] _No other module should import from basher_. Only bash.py imports now - ~~still needs some review: https://github.com/wrye-bash/wrye-bash/commit/3fcbe3f87a99bca3f6aa85

[2014-10-04 00:27] Sharlikran opened #164 "Ghosted Plugins Sorted after the Bash Patch"
Revelant posts: WrinklyNinja felt this could be a [possible bug here](https://forums.bethsoft.com/topic/1505167-relz-wrye-bash-thread-37/?p=23750393).  Original post with [steps to reproduce](http://forums.nexusmods.com/index.php?/topic/478460-wrye-bash/?p=17861429).

stickman1024's detailed steps to reproduce:

1. I launched BOSS by clicking the shortcut on the toolbar of Wrye Bash
2. In Bash gho

[2014-10-06 20:51] Catrillion opened #166 "Warning: Corrupt/Unrecognised"
I keep getting the "Warning: Corrupt/Unrecognized" box with the same two mods; even after removing and re-installing them.  The mods are ASIS. esp and Reproccer. esp
Your help would be appreciated.

[2014-10-13 09:43] kaliban71 opened #167 "Names patcher"
I am using 306.0.11 the patchers are only adding from Skyrim.esp and Update.esp
![dwm 2014-10-13 04-19-38-01](https://cloud.githubusercontent.com/assets/9027857/4611617/2239d0b0-52bd-11e4-87b6-ac0b11af162e.gif)
![dwm 2014-10-13 04-26-22-17](https://cloud.githubusercontent.com/assets/9027857/4611619/2248b76a-52bd-11e4-822e-c2bb56e65f82.gif)
![dwm 2014-10-13 04-32-20-34](https://cloud.githubusercont

[2014-10-14 04:53] lmstearn opened #168 "ESPMs Accessible in BAIN Archive Subfolders"
This is described in
http://forums.bethsoft.com/topic/1501046-wrye-bash-thread-100/page-6#entry23791020
The aim will be to parse archive subfolder names so they can be handled by SelectEspm and DeSelectEspm.
Is the separator "\" good enough to work with?

[2014-10-14 09:41] #168 closed

[2014-10-24 09:30] lmstearn opened #169 "Policy: Uninstall on Skyrim"
There is a groundswell in the modding community not to provide information on uninstalling mods.
I believe in the old "try before you buy"- well, as it turns out in this case "try before you keep."
A work around for this is to have a popup (with a "Don't show me this again" check) on the first install action of an .esp mod with something like: "It is recommended to backup the current save on the e

[2014-11-11 15:36] Utumno opened #171 "Make mod export dialogs remember the export path"
Notice export scripts for instance uses the windows 'browse for folder' dialog. We need to unify this.

[2014-11-11 20:23] Utumno opened #172 "Delete fixups"
- [x] Deleting an item in installers does not refresh install order :
Bad: v305 https://github.com/wrye-bash/wrye-bash/tree/v305
restarting Bash does correct the install order but switching out and back BAIN no - below number 8 used to be a project:
![clipboard01fguy](https://cloud.githubusercontent.com/assets/1365079/5000107/5eb20f46-69e0-11e4-844f-46dcc1714f28.jpg)

- [x] Another hickup: default

[2014-11-29 15:45] Utumno opened #173 "Cruft"
There is a lot of cruft in the code:
- [x] classes for compatibility with old pickle files - these should go with 307
- [x] Save_RepairFactions - any use anymore ?
- [x] psyco

Plus unused classes, commented out code etc (list will grow)

Please mark cruft with `# CRUFT`.

When removing cruft do so in a clear cut commit with an explicit message (`Deleted so and so`) and refer to this issue so a li

[2014-12-01 22:52] Utumno opened #174 "Link API"
Under #163
Group various Links subclasses fixups and TODOs

306:
- [x] Installer_Refresh disable on markers
- [x] Link(object) (involves calling super and I need it to (safely) use MI to add types to Link subclasses for instance)
- [x] People and Screens main menus do not display help items (this was a pain to debug
  c10595329d6684a2aa22ce5cdd138f49c315ca28)
- [x] readme update (ghosting, import/

[2014-12-18 18:08] Utumno opened #175 "Scroll position not set on startup (Installers, People and Screens tabs)"
On restarting Bash - notice it is remembered, just ScrollLines fails somehow

List subclasses work just fine (DUH)

Maybe related to #94

[2014-12-20 17:49] Utumno opened #176 "Table.dat fixups"
Can of Worms:

- [x] Mods: Stepping in with the debugger (ex https://github.com/wrye-bash/wrye-bash/blob/dev/Mopy/bash/bosh.py#L9116) I noticed that Table.dat dict in the **modInfos** retains old entries - in my Data/ dir there are 30 files but in modInfos.table.data there are 217
Maybe related to restoring settings or anything but this is clearly unacceptable (and I am sure a can of worms)

- [x]

[2014-12-26 19:55] Utumno opened #178 "Settings refactoring"
Grouping settings fixups and todos:

306:
- [x] Most code paths in bosh.InitSettings are broken - fixed in d4309cca4a2a08f1489bae2ec88ec84cf0b09780

307:
- saved load orders should NOT go to BashSettings !!! -> moved to #312
- [x] deprecate support for older versions, `.pkl` files etc ( #253 )
- [x] namespace settings ( cffffd2ae1c52a48610f6742dd1bed997f45d52a ):
  - [x] rename settings local vari

[2014-12-26 23:22] #155 closed, assigned to Utumno

[2014-12-27 00:30] #154 closed, assigned to Sharlikran

[2014-12-27 13:29] Utumno opened #179 "Mods flicker on mouse over"
[svn](https://sourceforge.net/p/oblivionworks/bugs/135/)

[2015-01-01 06:33] Sharlikran opened #180 "UnicodeDecodeError on tmp dir creation when username contains non ascii chars"
Pull request #142 added a force for UTF8.  It might have worked well enough for @valda but unfortunately for [KiraHanato on the Nexus](http://forums.nexusmods.com/index.php?/topic/478460-wrye-bash/page-261#entry21127824) it causes the following error.  I don't think He tried the EXE installer.  When he attempted to use the python version [he had these errors](http://forums.nexusmods.com/index.php?

[2015-01-01 22:38] Sharlikran commented on #180
@WrinklyNinja @Utumno After looking at the information, especially the log file where it says cp932, I don't think this has anything to do with pull request #142.

What can I change the title to?  Any suggestions?

[2015-01-01 23:01] Utumno commented on #180
Thanks for posting this Sharl: the pull request is merged very recently so the user is not having a problem with that

Would be nice if she could install the latest dev version (after solving the dependencies issues) to actually test the pull request

As for her problem it should be some unicode char in the temp directory path - `C:\Users\USERNAME\appdata\local\temp\WryeBash_XXXXXX` should be the

[2015-01-01 23:04] Sharlikran commented on #180
That is what HE is using.  I made a standalone to help out so that he didn't have to fight with the python version.

I'll tell him about the temp folder.

[2015-01-02 01:32] lojack5 commented on #180
Temp folder will have to have a weirdly coded workaround there.  It's failing inside the library function, when already passing the library function a unicode string.  So essentially we'd have to reimpliment the library function `tempdir.mkdtemp`, which is annoying, since it's supposed to work fine with unicode stuff.

Alternatively, you can disable the call to `testUAC`, since I never did fully i

[2015-01-02 04:17] Sharlikran commented on #180
[code]
That is the Users Path to the INI files.

[2015-01-02 08:25] Sharlikran commented on #180
![registry](https://cloud.githubusercontent.com/assets/1912426/5594867/bd7c87c4-9215-11e4-8311-7edbba66e70e.png)

Hmmm...  That's weird that the `\` are not escaped and the don't show up as a `\` it's a `¥`.

[2015-01-02 08:31] Sharlikran commented on #180
@WrinklyNinja Do you have to do anything special for BOSS or LOOT for other code pages, in this case cp932 so that the BOSS and LOOT can see the users path to the game EXE?

@valda Does your registry look that way?

[2015-01-02 09:39] valda commented on #180
![regedit](https://cloud.githubusercontent.com/assets/6148/5595078/817e2402-92ac-11e4-8249-ddcf77363c82.jpg)
This is NV entry because there was not entry of Skyrim.

[2015-01-02 13:16] Utumno commented on #180
Hey Lojack what a pleasant surprise :)

You could have a look to issues tagged review (some of them already committed) and to the issues that are tagged 306 and most importantly to the patchers for skyrim: https://github.com/wrye-bash/wrye-bash/commits/dev-skyrim-patcher-update

306 contains a massive refactoring of bosh and basher that needs to reach the userbase soon

Re: the issue at hand: than

[2015-01-02 14:05] Utumno opened #181 "CBash patcher does not import names from csv files"
Reported by @Tekuromoto here: http://forums.bethsoft.com/topic/1501046-wrye-bash-thread-100/page-7#entry23809107 (standalone) and follow up for Python version: http://forums.bethsoft.com/topic/1510638-wrye-bash-thread-101/#entry23842510

See the post that follow the original report- present in 304.4 so not my changes

[Workaroud](http://forums.bethsoft.com/topic/1510638-wrye-bash-thread-101/#entry

[2015-01-02 16:15] Sharlikran commented on #180
Steam Settings:
![steam](https://cloud.githubusercontent.com/assets/1912426/5597448/31a34598-9257-11e4-98e1-a2cced93fb19.jpg)

[code]
I think that's about all I can get for you guys to work with.

@valda Are your Region and Language settings the same as KiraHanato's are?  Can I get a screen shot of your Region and Language settings?  If yours are different maybe he can try what you are using.

[2015-01-03 00:42] Utumno commented on #1
Candidates:

- [ ]: CBash_ItemStats vs ItemStats

[2015-01-03 04:39] Sharlikran commented on #180
@Utumno @lojack5
I tried all of the following lines:

[code]
None of them worked.  The documentation does not stae that the -g or -o need to be followed by any kind of delimiters.  No `=:;'/"` or space is indicated and when I look at the Python code i don't see what is supposed to be there either.

What is the correct way to specific the game location from the command line?  If one of the above li

[2015-01-03 04:49] Sharlikran commented on #180
@Utumno @lojack5
I tried all of the following lines:

[code]
None of them worked.  The documentation does not state that the -g or -o need to be followed by any kind of delimiters.  No `=:;'/"` or space is indicated and when I look at the Python code I don't see what is supposed to be there either.

What is the correct way to specific the game location from the command line?  If one of the above l

[2015-01-03 04:50] Sharlikran commented on #180
I am testing with the --debug and all I get is this:

[code]

[2015-01-03 04:56] Sharlikran commented on #180
@Utumno @lojack5

``Python
sOblivionPath=C:\Games\SteamApps\common\Skyrim
[code]

[2015-01-03 05:20] Sharlikran commented on #180
I deleted the shortcut, reset my windows registry back to what it should be and I still get the error.  Then since i figured it has to be something I am doing I copied the python version from Dev and ran it.  It works fine.  Then I made a standalone version, copied it to the mopy folder, and I get the error to specify the -o command line parameter.

[2015-01-03 05:27] Sharlikran commented on #180
Then since I was confused, and getting frustrated because I have been working with him for several days now, I went to my old branch using the old layout not the dev branch but my dev-sarlikran-valda-fallout branch.  I made a standalone EXE and it's working fine.

[2015-01-03 05:34] Sharlikran opened #182 "standalone compiled from dev fails to detect the game when passed by command line or specified in the bash.ini"
That is my Bash log with the dev branch
[code]
That is my Bash log from my dev-sharlikran-valda-fallout branch
[code]
It's as if the dev branch is detecting the game mode twice.

[2015-01-03 05:35] Sharlikran commented on #182
@Utumno @lojack5
I tried all of the following lines:

[code]
None of them worked.  The documentation does not state that the -g or -o need to be followed by any kind of delimiters.  No `=:;'/"` or space is indicated and when I look at the Python code I don't see what is supposed to be there either.

What is the correct way to specify the game location from the command line?  If one of the above li

[2015-01-03 05:35] Sharlikran commented on #182
I am testing with the --debug and all I get is this:

[code]

[2015-01-03 05:35] Sharlikran commented on #182
@Utumno @lojack5

[code]
I added that to my bash.ini and I still have the same error.  A window opens and I am told to use the -o parameter.

![wrye error](https://cloud.githubusercontent.com/assets/1912426/5601633/13a3cf52-92c2-11e4-8487-65df3404de67.jpg)

[2015-01-03 05:35] Sharlikran commented on #182
I deleted the shortcut, reset my windows registry back to what it should be and I still get the error.  Then since i figured it has to be something I am doing I copied the python version from Dev and ran it.  It works fine.  Then I made a standalone version, copied it to the mopy folder, and I get the error to specify the -o command line parameter.

[2015-01-03 05:35] Sharlikran commented on #182
Then since I was confused, and getting frustrated because I have been working with him for several days now, I went to my old branch using the old layout not the dev branch but my dev-sarlikran-valda-fallout branch.  I made a standalone EXE and it's working fine.

[2015-01-03 06:26] Sharlikran commented on #180
Moved all startup issues related to the 306 Standalone version from the dev branch to new issue #182.

[2015-01-03 06:28] Sharlikran commented on #180
Because I was getting issues with the Standalone version of 306 from the dev branch I had him download my EXP version based off of 305.

[code]

And

[code]
That is the traceback and the BashBugDump.log file.

[2015-01-03 06:48] Sharlikran opened #183 "External DLL to handle registry and directory detection"
I was wondering what does the Python Code need to get from Windows?  Does the following cover everything?  This would include command line parameters and bash.ini files.
1. Get location of game exe Oblivion.exe or TESV.exe
2. Get location of INI files
3. Get Location of installer files

Places to look
1. Windows Registry
2. command line parameters
3. bash.ini

Directories to pass to python code
1.

[2015-01-03 06:57] Sharlikran commented on #182
Confirmed, there are the traceback and BashBugDump.log file from a Standalone EXE from my experimental version.

[code]

And

[code]
That is the traceback and the BashBugDump.log file.

[2015-01-03 15:32] Utumno commented on #182
I am aware of this since  a long time: @lojack5 said the command line args did not ever reach perfection.
Anyway the `bush.py   81 detectGames: Detected the following supported games via Windows Registry:` line repeating itself (even three times at times) is a nono clearly - the value should be cached

I just did not have the time to look into this - one must set a breakpoint and step in

[2015-01-03 15:34] Utumno commented on #180
The strange thing is `UnicodeDecodeError: 'ascii' codec can't decode byte 0x82 in position 7:` - position 7 ?

[2015-01-03 15:47] Sharlikran commented on #180
I think I caused `UnicodeDecodeError: 'cp932' codec can't decode bytes in position 4-5: illegal multibyte sequence` to occur.  I thought since the game mode and the game folder were not being detected that if he had a standalone that worked then it would be cool if Wrye used an older Japanese.txt file.

[2015-01-03 15:51] Sharlikran commented on #180
Yeah that's why I had asked for a quicky feature request either in the Beth forum or somewhere on GitHub to do a try; except: on folders and print out the being parsed.  With the information Lojack gave I assume it's the users path and the temp folder like he said but it would be nice to have the offending line end up in the log file for future reference and conformation of which sting is not bein

[2015-01-03 16:03] Sharlikran commented on #182
Makes sense.  You know where you are with your refactoring.  It can just be a reminder before releasing 306, although you are saying you didn't need it really.

[2015-01-03 16:14] Utumno commented on #182
I am actually glad someone (you) posted the issue for me :D
But please clean it up a bit: I can't go through it all - it has info related to issue related to 180 - and most importantly _your experimenal branch is the one on pull request 177_ ? In this case i introduced a regression in dev so this must be fixed _now_

[2015-01-03 16:46] Sharlikran commented on #182
That is all I could think of to remove.  The rest has nothing to do with #180.

No my experimental branch will always by my dev-sharlikran-valda-fallout which is based off of the 305 code base.

What?  I made changes to the skyrim patcher folder and the attributes that the patchers look at since they are distinctly different.  I made it off of dev not any of my own branches.  Why on earth would yo

[2015-01-03 16:47] Utumno commented on #182
@Sharlikran: thanks for cleaning it up:

So there are two bugs:
- cycles in the game detection (the one I referred to)
- standalone compiled from dev at https://github.com/wrye-bash/wrye-bash/commit/5dbf49d0d9bbe5a6ccf3176e32af2084f7e958f4 fails to detect the game when passed by command line

2 questions
1. starting Bash from the launcher and specifying the oblivion folder in the ini works with th

[2015-01-03 16:55] Sharlikran commented on #182
1. You can not start the standalone with command line parameters or specify the game path in the bash.ini file.
2. I don't know python to have any valuable input.  However, it looks like optimization for wxPython list boxes.  I say if you have checked it for either Skyrim or Oblivion and your changes are working leave it.

I would change that to:

standalone compiled from dev at 5dbf49d fails to d

[2015-01-03 17:00] Utumno commented on #182
Thanks - my 2nd question was what was the last good commit on dev you know standalone worked fine - I guess tag 305 ?

[2015-01-03 17:06] Sharlikran commented on #182
Ohhhh no I have no idea when the last working Standalone is other then 305 because I always run it in Python mode.  I can't be of much help there but, I do care and I wish I could provide more insight.

[2015-01-03 17:16] Utumno commented on #182
Alright thanks indeed - just edit out the regression part as it is off topic (will do too)
Will see what I can do - come next week I will be busy - but I hope 306 will be for this month
I hope I can squash this in - if @lojack5 jumps in however he may be much faster as he created the standalone and the bush detection algorithm IIRC

[2015-01-04 16:03] Sharlikran commented on #180
[code]
Another user with a French OS has a slightly different error.

@Lojack I would love to keep providing some of this information to you if you are willing to work on this before school starts.  I don't know how much I can help with my limited programming knowledge but I am willing to try.  If there is some repetitious code that I would need to change I can always do that.  You could contact m

[2015-01-04 22:28] Sharlikran commented on #180
Other information about the French User:

Skyrim Folder: B:\TES V Skyrim
Skyrim Data Folder: B:\TES V Skyrim\Data
Skyrim Strings Folder: B:\TES V Skyrim\Data\Strings
Wrye Bash Folder: B:\TES V Skyrim\Mopy
Users Folder: C:\Users\Centurion
Save Games: D:\My Games\Skyrim\Saves
Temp folder: E:\TEMP

All of those locations are redirected and are set in the registry and in Windows PATH environment.

![f

[2015-01-05 14:43] Utumno commented on #182
Sharl could you checkout e6b2e0e90cfd16e105dbfd3ec1a2e9c49455c1ad and then 7ff57537c149e095eeca390ddf520159a013f7d7 and see if the bug is present there ?
I suspect commit 43e359aa00433aba3ec825f2d782f06e703389a9 is the one that introduced the bug - but the real reason is the mess with the star imports - cf https://github.com/wrye-bash/wrye-bash/blob/dev/Mopy/bash/brec.py#L29

How do you build the

[2015-01-05 15:50] Utumno commented on #182
And here is the bug: https://github.com/wrye-bash/wrye-bash/blob/dev/scripts/package_for_release.py#L246

[2015-01-05 16:17] Sharlikran commented on #182
I see you put a strike through on your questions about how I make the EXE.  Yes that's how I do it.

Is it fixed?  Should I try it?  Does it need more work later when you have time?

[2015-01-05 16:48] Utumno commented on #182
Havent fixed it yet but I think I know where it is - will post back when I get round to it

[2015-01-07 02:21] Utumno commented on #182
I think i fixed it https://github.com/wrye-bash/wrye-bash/tree/utumno-182-standalone

Yey!

[2015-01-07 03:32] Sharlikran commented on #182
Not sure what you did but now when I make a standalone exe I can't right click on the Mods tab to do anything.  No contextual menu shows up and i can't rebuild the bash patch.

[2015-01-07 23:14] Utumno commented on #182
Try again the branch https://github.com/wrye-bash/wrye-bash/tree/utumno-182-standalone = fixed the mod tabs thing
The installers is the archive invalidation thing I havent looked into - should be an easy fix but I want to see which commit introduced it

[2015-01-09 20:55] Utumno opened #184 "Game detection algorithm fixups"
See #182.

- [x] Cache registry reads/game module loads
- [x] Hunt down setGame usages
- [x] Enforce "cli > ini > relative to Mopy" precedence
- [x] Readability (move gui stuff out of bash.main(), setting  the game should clearly stand out)
- [ ] Test all paths (for various values of command line arguments) - left to do: -g vs -o
- [x] Rewrite docs

much better now 1a09cd27d85a06a2d85e64576a28396d

[2015-01-09 21:55] Utumno commented on #182
The discussion for the game detection algorithm belongs to #184 now

[2015-01-10 01:05] #182 closed

[2015-01-10 01:07] Utumno commented on #182
Labeled TODO to not show up on changelogs as it was just a dev regression

[2015-01-10 21:33] Utumno commented on #175
That's weird - SetScroll fails for Screens, people, Installers, Messages (not well tested as it's wx,Horizontal) : could it be related to the data not having been refreshed for these panels ??

Moreover (sit) moving the SetScroll call inside UIList.init makes it fail even for Ini and Saves:

[code]

I give up (for now)

[2015-01-12 05:25] #175 closed

[2015-01-12 05:31] #176 closed

[2015-01-14 21:19] #23 closed

[2015-01-14 21:21] #54 closed

[2015-01-14 21:26] Utumno commented on #183
Sory sharl not now + I think this should be possible in python - let's see in #180

[2015-01-14 21:26] #183 closed

[2015-01-14 21:52] #169 closed

[2015-01-14 22:19] Utumno commented on #136
I go with @jfpelland and close this - reopen as needed

[2015-01-14 22:19] #136 closed

[2015-01-16 16:31] Sharlikran commented on #167
@lojack5 If you have time I could really use some clarification on this.  @Utumno, lojack will probably know off the top of his head.  However, if he doesn't have time to answer over the next few days.  Could you try and go over the patchers and look for something for me.  I'm not saying to go over all the patchers, or just the Names Patchers, but to look at the Names Patcher and skim over the mai

[2015-01-16 20:01] #56 closed

[2015-01-16 20:01] #70 closed

[2015-01-16 20:01] #77 closed

[2015-01-16 20:01] #80 closed

[2015-01-16 20:03] #67 closed

[2015-01-16 20:04] #4 closed

[2015-01-16 20:06] #166 closed

[2015-01-16 20:16] Utumno commented on #55
Most of it is done - `_\(u'([^%)]*)([%].)'\)` gives 31 matches. Putting it in the back burner for now. Keep in mind that causes dust (translations break). Let's wait till the dust settles from basher refactoring also (new help items from menus etc).

[2015-01-16 22:15] Utumno commented on #74
Putting in the back burner for now - would needlessly blur the diffs - plus most new files are mostly wrapped - at 6f56335c161ccfeb9449abe75310422df105d3d9

<C:\Dropbox\eclipse_workspaces\python\wrye-bash\Mopy>
[code]

Chardet is excluded - script:

[code]
<idea: http://tiku.io/questions/460462/count-number-of-lines-in-a-txt-file-with-python-but-exclude-blank-lines.>

<C:\Dropbox\AHK\SCRIPTS\@>
<T

[2015-01-16 22:27] Utumno commented on #20
This actually falls under settings refactoring - I use cranky bat scripts to start different games myself and I feel the pain. However this is in the back burner till the settings internal handling is ripe for refactoring. To quantify a bit now there are at least three aliases (bosh basher settings and balt _settings) and many classes that access them - non exactly ripe.

Under #178.

[2015-01-16 22:27] #20 closed

[2015-01-16 22:28] Utumno commented on #73
Definition of back burner

[2015-01-16 22:28] #73 closed

[2015-01-16 22:31] Utumno commented on #15
Back burner - notice though that it is taken care of at #163. The de-wx'ing of the code is an essential step towards being able to swap our graphics library without rewriting the UI

[2015-01-16 22:31] #33 closed

[2015-01-16 23:03] #24 closed

[2015-01-16 23:04] #5 closed

[2015-01-16 23:04] #72 closed

[2015-01-16 23:04] #62 closed

[2015-01-16 23:36] Utumno commented on #63
Under #163. Once Tank and list are unified and NotebookPanel and Sash[Tank...]Panel APIs interfaces are defined then reopen this.

[2015-01-16 23:36] #63 closed

[2015-01-16 23:37] #104 closed

[2015-01-16 23:40] #64 closed

[2015-01-16 23:41] #68 closed

[2015-01-16 23:48] Utumno commented on #66
NO gui stuff till refactoring is done

[2015-01-16 23:48] #66 closed

[2015-01-17 02:51] lmstearn commented on #108
Pity, because the UI really doesn't "advertise" or "upsell" the usage of the wizards.

[2015-01-17 03:21] Utumno commented on #108
Not now = back burner

[2015-01-17 03:27] Utumno commented on #160
@Sharlikran can you verify this ?

[2015-01-17 04:05] #110 closed

[2015-01-17 06:13] Sharlikran commented on #160
I don't know if I can confirm that.  I can try to just build a patch but I have never played Oblivion.  Let me ask around for help.

[2015-01-18 13:52] Utumno commented on #55
Now that I come to think about it this must be carried out - changing the strings little by little would break translations every time so it's to be done once and for all - putting this under 307 but I don't open it yet to avoid seeing it first thing in the tracker.

[2015-01-19 02:44] Utumno opened #187 "306"
Opening this to not spam other issues but it's not a practice to be imitated

@wrye-bash/bashers  I need some help with testing in my dev branch - namely game detection and the patcher dialog - shuffled their code a bit and want to make sure they did not break. Game detection now follows cli > ini > Mopy precedence See 1a09cd27d85a06a2d85e64576a28396d7b3ccee9) - test with ini values and `-o` cli a

[2015-01-19 05:37] Arthmoor commented on #187
Well. From what little I've poked at it, the Mods tab didn't improve any. It's still slow to refresh after returning to the window.

The installers tab is another story though. Something got that to perk up by quite a bit. Instead of the usual fit where it'll take about 10 seconds to refresh, then it tries to refresh 2 or 3 more times, so far I can only get it to delay by 3-5 seconds on coming bac

[2015-01-19 11:15] Utumno commented on #187
Thanks @Arthmoor:

I had not done anything with the mods tab yet so it's not a surprise - I
just have some monkey patches ready - fact is #123 can only be monkey
patched at the present code state.
I am glad to hear the Installers got a bit faster

To go on with the refresh work I need to have these changes tested though
which are:

- do launchers work still (like the texture, audio and the like) ?

[2015-01-21 03:55] Sharlikran commented on #187
I am having someone check the -o parameter improvements.  Previously the user was unable to run Wrye and have it find the Skyrim folder.

[2015-01-21 04:01] Arthmoor commented on #187
One thing I did notice. On the installers tab, if you're looking at an installed mod, hovering over a list of files on the right side is spawning a giant window with a bunch of filenames in it. All this is doing is getting in the way. I'm not sure what that's all about.

[2015-01-21 04:08] Sharlikran commented on #187
Yeah is there a way to disable that tooltiip from that side?  I like having that but not all the time.  Can there be a way to disable that if you right click on packadge please?

![tooltip](https://cloud.githubusercontent.com/assets/1912426/5831093/1c37a61c-a0e0-11e4-8e41-6bfea5c82f7c.jpg)

[2015-01-21 04:16] Utumno commented on #187
Not present in 305 ?

[2015-01-21 04:28] Sharlikran commented on #187
Let me check

[2015-01-21 04:35] Sharlikran commented on #187
Nope, not in 305.  Unless it takes a super log time.  I didn't wait a minute or anything like that.  in 306 it comes up pretty easy in 305 I don't see it.  So you may have like, inadvertently added it by fixing things, refactoring things, and using routines correctly.  So still, I like it and it would be nice if it could stay if it can be disabled.

[2015-01-21 04:44] Utumno commented on #187
I'll see to it asap - should be from some tooltip stuff I did - dunno if easy to disable optionally - may disable it and add it back as an enhancement in 307

Trying to proceed with refresh and running across bugs all the time

last one:

Saving a csv with unicode filename (like export groups) blows "backup settings"

[2015-01-21 05:07] Arthmoor commented on #187
Confirmed, wasn't present in any previous version of Bash. Is it something that was always supposed to happen?

I don't have any unicode files handy to check that csv thing with.

[2015-01-21 09:51] Utumno commented on #187
Yes it's something it's supposed to be happening IIUC - will look into it

The csv thing (monkey patched already but I haven't pushed the fix yet) is
when backing up settings - just export groups and name the file with
unicode characters then try to backup

On Wed, Jan 21, 2015 at 7:07 AM, Arthmoor <notifications@github.com> wrote:

[2015-01-22 00:08] Utumno commented on #187
Pushed the fix for settings
Also disabled those new tooltips in installers - discuss

@Sharlikran

I mean tool launchers, Tes4 edit and the like here: https://github.com/wrye-bash/wrye-bash/commit/c58206ca3426bbc5f051a922d44e001fddeab7e3#diff-cb573f5fd145058da1e6a0dd1ec8403eR553- on the status bar not in the mod/save/BAIN lists

[2015-01-22 01:09] Sharlikran commented on #187
Oh, I have never played oblivion.  I have nothing installed but the DLC for TES4Edit.  I don't have any of those tools.  So I'll have to leave that up to you and other Oblivion uses to test.  I could try and test TES4Edit later.

[2015-01-22 05:42] Sharlikran commented on #187
I had mentioned that I would have someone test the -o param.  That user had the Unicode error as well as the game dection issue.

``Python
Traceback (most recent call last):
  File "bash\bash.pyo", line 382, in main
  File "bash\bosh.pyo", line 10347, in testUAC
  File "bash\bolt.pyo", line 657, in tempDir
  File "tempfile.pyo", line 331, in mkdtemp
  File "ntpath.pyo", line 84, in join
UnicodeDec

[2015-01-22 14:55] Utumno commented on #187
The unicode fix in my branch is for saving/restoring settings files with unicode filenames -

The bug experienced by the user is a python bug:
http://bugs.python.org/issue1681974

Pushed an attempted fix in my branch: dd0d2bf82a91c441de8665f56affc24bff897b87

[2015-01-23 06:55] Sharlikran commented on #187
Yes it was the same person.  I had hoped that he could test the -o parameter fix, since he had both issues.

[code]

I read issue 1681974 for python and they all seem to think it's related to the way the author of the bug report was using unicode.  So while your refactoring is not causing it and I feel it's something, as lojack mentioned that has been around a while, I just hope to see a fix for i

[2015-01-23 17:50] garthand opened #188 "Detect conflicts in BSA files"
This is more applicable for Skyrim than Oblivion, but it would be nice if the Installers tab could detect conflicts between BSA archives the way it does for loose files between mods. I'm not sure how feasible this is, but it would be a fantastic feature.

[2015-01-23 17:53] WrinklyNinja commented on #188
IIRC, Lojack implemented this a while ago, though it might be flagged as an
experimental option.
On 23 Jan 2015 17:50, "garthand" <notifications@github.com> wrote:

[2015-01-23 17:57] garthand opened #189 "Wizard GetPluginLoadOrder function addition"
I'm not super familiar with how wizard syntax is defined, but would it be possible to add a `GetPluginLoadOrder` function that returns the load order of the specified plugin? Most mods aren't load order sensitive but for those that are it would be a real lifesaver when trying to dynamically generate menus or detect a combination of active mods. Otherwise you end up with installers like [this](http

[2015-01-23 18:07] garthand commented on #188
I'm using 305 currently, if it was implemented as an experimental feature, how would I go about enabling/testing it?

[2015-01-23 18:40] #188 closed

[2015-01-23 20:39] Utumno commented on #180
For the mkdtmp:

http://bugs.python.org/issue1681974

Pushed an attempted fix in my branch: 5b6a355d864793b0eac063d7f349ddf9f8a72a7e

not even sure it'll work - I am still looking into it - we need something full proof

The french user is another part of the code - monkey patched that one too: 62988022612cf57360075c83d97364d78e072262

Both are in https://github.com/wrye-bash/wrye-bash/compare/utum

[2015-01-23 20:39] Utumno commented on #187
Pushed a new series of patches - contain fixes for the unicode issues (_discuss in #180_) and (finally) some refresh related stuff: 4c91e62582111499d99ce05ba325b7a616a8b5ed
Should speed the mods tab up a bit

Code: https://github.com/wrye-bash/wrye-bash/compare/utumno-163-wip

or in zip https://github.com/wrye-bash/wrye-bash/archive/utumno-163-wip.zip

[2015-01-23 21:28] Utumno commented on #189
No time for enhancements now sorry - hopefully soon

[2015-01-24 00:46] garthand commented on #189
I totally understand, you all have your hands full with the code refactoring, patchers and everything else at the moment haha

[2015-01-24 07:28] Sharlikran commented on #180
[code]
With the latest changes in utumno-163-wip the game is detected, but the username could still be an issue.

[2015-01-25 04:17] Utumno commented on #180
What's the deal with standalone traceback ? In line 657 there's a try: https://github.com/wrye-bash/wrye-bash/blob/5b6a355d864793b0eac063d7f349ddf9f8a72a7e/Mopy/bash/bolt.py#L657

Did not write the code and I do not know how it's used - what would happen if I returned None for instance. If all fails I will go with Lo's suggestion and just create the temp dir inside mopy (ini option can wait) but m

[2015-01-25 06:21] Sharlikran commented on #180
Let me ask something first before I try that branch.

[2015-01-25 16:09] Utumno commented on #187
Alright just pushed some of my refactoring and a couple confirmed fixes to dev

Keep testing my branch ! Getting tired (had some oopses while merging). I need all the help I can get and all the help I can get is testing.

Keep in mind I rewrite the commits in the branch (aka rebase) often. Download latest zip

If using git - _recommended_ - to make sure you test the latest code:
[code]
See if your

[2015-01-25 16:26] Sharlikran commented on #187
I'm pretty sure it points to the right place

![image](https://cloud.githubusercontent.com/assets/1912426/5892219/e9bc061c-a46b-11e4-9097-01b017af1d3c.png)

[2015-01-25 16:34] Utumno commented on #187
sure - soon it wont though ;)

[2015-01-25 16:35] Sharlikran commented on #187
So am I good for now?  Should I just wait a but and you are going to do something else?

[2015-01-25 16:37] Utumno commented on #187
As I said if you must rebase (reset more accurately) I will post here

[2015-01-25 16:39] Utumno commented on #187
Ah and sharlikran looking at your pic _you have not a local branch_

                  $ git checkout -b utumno-163-wip

 refresh gitk

[2015-01-25 16:48] Sharlikran commented on #187
![image](https://cloud.githubusercontent.com/assets/1912426/5892307/f6f77d86-a46e-11e4-81d1-4466fb0c5021.png)

Like that?

[2015-01-25 16:50] Utumno commented on #187
Perfect - play with right click now ;)

[2015-01-26 02:43] Utumno commented on #187
Pushed another refresh patch - so update to test

Need testing for the items above also (the check marks in my post) so I can merge to dev

[2015-01-28 01:24] Utumno commented on #187
Pushed some patches fixing a regression in the tabs menu and also speeding up the patch dialog - turns out the modList was refreshing between scan mergeable and the patch dialogs - testing needed

[2015-01-28 01:41] Sharlikran commented on #187
I'm in my car.  Is this in dev of in utumno-163-wip?

[2015-01-28 01:47] Utumno commented on #187
Yep as usual - it's not that urgent :)

Plus it's the Oblivion patcher I'd like to have tested - and the oblivion refresh improvements

You could test restore settings though when you get round to it - they were reading the backed up ini but did not use it - fixed that but it's completely untested

Plus #180

[2015-01-28 01:48] Utumno commented on #180
Any news from the french and japanese users would be welcome - for the japanese maybe creating a japanese named user would be enough to test - I just did not have time to do this myself

Attempted fixes as usual in my dev branch

[2015-01-28 06:25] Arthmoor commented on #187
Do the builds on this issue contain the updated Skyrim patcher code too?

[2015-01-28 06:28] Sharlikran commented on #187
I don't think utumno-163-wip has those changes.

[2015-01-28 11:32] Utumno commented on #187
No that concerns oblivion and I would like to merge them as soon as
possible - if you do not have oblivion handy please at least test restore
settings - if you have oblivion I need feedback on refresh times and the
patchers (should be ok and the dialog should be much faster)

The skyrim patchers better discussed in their relevant issue:
https://github.com/wrye-bash/wrye-bash/pull/177 - testing is

[2015-01-28 20:47] Sharlikran commented on #180
Something I noticed.  In 295.3 `class Path(object):` was rewritten and some interesting lines were removed.
[code]

[code]
Incidentally some users of the Oblivion version swear by older version in the Bethesda threads.  They claim that newer versions don't work right in regards to Unicode.  There normally aren't any details as to what that means.  The Bethesda search option is all wonky and I coul

[2015-01-28 20:58] Sharlikran commented on #180
Another user from the Oblivion Nexus had this error and stated that 302.1 offered a resolution.  The [post is here](http://forums.nexusmods.com/index.php?/topic/100238-wrye-bash/?p=20943294).

As far as testers, I have not heard back from KiraHanato I don't know if he is busy or not.  I have not made a new Standalone for the french user I'll be doing that later today.

[2015-01-28 21:11] Utumno commented on #180
Thanks - keep in mind that older versions may work cause for instance testUAC() is not called or anything - without looking at 302.1 it may well be the case - will keep those in mind - nice to have them in this issue - btw keeping issues clean, focused, _dry_ and technical is a huge time saver for me.

The 302.1 user has the same prob as KiraHanato btw - maybe he gives a try to utumno-163-wip ?

U

[2015-01-29 05:21] Sharlikran commented on #150
@Utumno Do you know how to keep PyCharm from opening when you build a test release with the Script?

[2015-01-29 11:13] Utumno commented on #150
@Sharlikran: I don't understand - when does it open - which script ?

[2015-01-29 16:02] Sharlikran commented on #150
When I run package_for_release.py when I see it say generating comtypes, PyCharm opens.  Now it may be slightly before or after that.  It could also be another file the script accesses because the script is long and complex.  However, that's what I see in the DOS window when it happens.

[2015-01-29 17:34] Utumno commented on #150
Yep something in your setup - not happening here - consider reinstalling pycharm and run the script _from_ it ;)

Now back to business

[2015-01-29 17:47] #3 closed

[2015-01-29 17:59] Utumno commented on #150
By the way never associate .py files with an editor - I do sympathize though - I still double click once in a while on a .py file expecting to open in the editor and I instead see cmd flush - well...

[2015-01-30 09:20] Arthmoor commented on #187
How much of a pain would it be to get rid of all these file lists and things that show up when you hover over windows? They're just getting in the way and have blocked access to some of the scrollbars and control buttons. Like the scrollbar in the installers tab, or the save button on a mod description.

[2015-01-30 12:14] Utumno commented on #187
@Arthmoor Not that hard no - in my branch the tooltip in installer details is gone no ? Those "list" are tooltips ? Can you make me a list of places you want them gone from ?

On the other hand they were there for a reason (probably) so I do not want to just butcher them.

Have you tried building patches in Oblivion ? How about refresh times ?

Please use latest - contains a regression (a tracebac

[2015-01-31 08:53] Arthmoor commented on #187
Looks like the only hover place I can find now is in the mods tab when passing the cursor over a mod's description box. The ones in the installers tab appear to be gone now.

Another problem I'm seeing though. Resizing things on the saves tab, and mods tab is being forgotten in much the same way this used to be an issue for the installers tab.

[2015-01-31 14:15] Utumno commented on #187
@Arthmoor Description should be easy but the resizing is an area of the code that is just weird - I think this non resizing is there since a long time and we may have to live with it for a while.

Refresh: just the mods tab - and startup time - and the patch _dialogs_ (not patching). Actually it now takes no time between mark mergeable and the dialog ;)
And the patch (oblivion) - I have made some

[2015-01-31 14:44] Sharlikran commented on #187
I think I know another place that the tooltip shows up.  I will have to double check but I think I saw it do that when making a list of bash tags or installed mods which got it the way of copying the text.

[2015-01-31 16:31] Utumno commented on #187
Keep em coming - the tooltips is me - but I would appreciate fro the rest if you let me know if they were present in 305

[2015-01-31 17:07] Arthmoor commented on #187
Did some stuff in the installers tab last night. It's still having serious lag problems. I switched back into the window after being out of it for awhile and it took nearly 60 seconds to regain full control. It kept cycling the blue circle (to tell me to wait) and doing weird things with the taskbar icon, even once minimizing itself. It's very strange.

I have lots of mod installers in there, but

[2015-01-31 20:00] Utumno commented on #187
@Arthmoor: The cause is the mods tab lag - liblo is broken when it comes to oblivion, as opposed to Skyrim (see #123) - and this won't be fixed any sooner than 307 (except if @WrinklyNinja gets round to it or I get there myself - which I will do anyway as I need things changed in the liblo.py - I will probably just take the code that was doing the refresh pre liblo and patch it in - _not_ trivial

[2015-01-31 20:41] Arthmoor commented on #187
No problem. Better to say something and know you know about it than hold my tongue and forever wonder.

I can only imagine the mess, so it's good this is getting done and more people appreciate that it's getting the attention than you probably realize. Though, sure, patchers would probably be a more visible thing :P

[2015-01-31 20:45] WrinklyNinja commented on #187
Future inclusion of liblo aside, I've fixed the bulk of the performance issues on the C++ side in my `wrinklyninja-liblo-6-support` branch, and I'd *like* it to be included in 306, but it would only be sensible to do so once your current work and #123 have been merged into `dev`, as it still needs some testing (I think someone reported a segfault?), and it would be best to do that on top of those

[2015-01-31 22:56] Utumno commented on #187
@WrinklyNinja : ok - will test ASAP - but don't hold your breath - and yes I would like to have this in for 306.

@Arthmoor: pushed fixes for tooltips and saves and mods sizes not remembered

Of course - when I said I was aware I meant just that (cause in my turn I wanted to make clear that there are bugs that I am aware of but can't properly fix yet).
Not only I do not mind your reminding me - on

[2015-02-01 18:12] crazykilla15 commented on #66
I need to know something about this, as i am doing work on the project using python 3 and wxpython phoenix .

wxpython phoenix doesnt have gizmos, i need an acceptable alternative.

[2015-02-02 20:38] Utumno opened #190 "De-wx'ing"
All wx code must eventually end up in ~~balt~~ **gui**. This does not simply mean that one must create wrappers for wx classes/constants and drop them into gui - it means that gui must export an **API** - so gui should not return wx items on which wx methods will be called - must wrap those methods into class methods it exports  - in other words we must not only eliminate wx imports but also _wx c

[2015-02-03 02:36] Metallicow commented on #66
Try asking Robin over at wxpython-dev mailing list.

I recall I had some issues attempting a clean switcheroo of the widgets with phoenix. I would just go ahead and use the standard wx splitter instead, unless there is a specific reason besides appearance. gizmos isnt hook'd/doc'd in for wxpy phoenix yet.

[2015-02-03 21:07] crazykilla15 commented on #66
What issues did you have?

[2015-02-04 06:22] Metallicow commented on #66
@crazykilla15 A simple switch of subclassing from ThinSplitterWindow to SplitterWindow.
Ex: There is probably something specific being called(probably method or attrs) somewhere in thinsplitterwindow that may or not be in splitterwindow.
Phoenix aims to eliminate "cruft" and is a complete rewrite. One would have to look into the actual code for the two to iron out the differences. wxWidgets probab

[2015-02-04 13:56] Utumno commented on #187
@Arthmoor : I have active mods in my load order that are also ghosted - is this a bug ?

Can you please post me a specification on how ghosted mods should behave in the various cases (merged etc) ?

[2015-02-04 15:59] Sharlikran commented on #187
C:\Users\[username]\documents\my games\[Game]\BashSettings.dat
C:\Games\Steam\SteamApps\common\[Game] Mods\Bash Installers\Bash\Converters.dat
C:\Games\Steam\SteamApps\common\[Game] Mods\Bash Installers\Bash\Installers.dat
C:\Games\Steam\SteamApps\common\[Game] Mods\Bash Mod Data\Table.dat

As a test what if you backup those files.  Backup all of them manually because the settings backup routine d

[2015-02-04 16:45] Utumno commented on #187
No.

The backup is completely unrelated to ghosting - forget it.

Since you are there please test thoroughly the backup functionality _against my latest branch here_ - and I do not care about the fallout version - it is 2 years behind.

keep in mind that some bugs with backup and the installers.dat were only recently fixed by lojack (for 305 IIRC)

@Arthmoor : so I have a ghosted mod, I activate i

[2015-02-04 17:42] Sharlikran commented on #187
"The backup", is not related to ghosting?  I didn't say it was.  I suggested backing up some files instead of deleting them so you could later compare them.  I wanted to demonstrate something to you because if you see it happen you will believe it more.  Sometimes when I say things people brush me off.  So I have to come up with creative ways to show stuff or demonstrate what I am saying.

You are

[2015-02-04 18:15] Utumno commented on #187
@Sharlikran: you got me wrong - I did not get any ghosted files suddenly turn up - I activate ghosted mods and remain ghosted - is this a bug or a feature ?

Re: backing up - I have made a correction that I want tested - when having a custom ini _restore settings_ would read it but never use it. I want you to test restore settings with custom ini locations against this branch here (utumno-163-wip)

[2015-02-04 19:05] Sharlikran commented on #187
I may have got you wrong then, sorry.  I was going to try and stay on topic and mention that three issues, all unrelated, were resolved by deleting the .dat files but I was not able to remove the ghosted status by deleting the .dat files.  I noticed the files are physically renamed.

Arthmoor or @lojack5 might be able to answer that better because I have never used ghosting.  However, I noticed th

[2015-02-04 19:10] Sharlikran commented on #187
When you go to resolve it the advanced readme, under [Mods Tab/Plugin Context Menu](http://sharlikran.github.io/wrye-bash.github.io/Wrye%20Bash%20Advanced%20Readme.html#mods-commands) mentions an additional contextual option that shows up if multiple plugins are selected.  You could refer to it as well to be sure all the functionality stays there after your changes.

[2015-02-04 19:36] Utumno commented on #187
I have already made changes to ghosting and ghosting menus: 137ba58cfaa4e258b6170da173af43d2e09dec7c, 1b3d5987dc390a7f71f560c36f71da02d06f3462

I just need an answer to this question - or better an exact specification of how ghosting should behave - I believe @Arthmoor can give it to me.

Meanwhile _would you be able to test restore settings for me_ ? - against this branch here

Still working on r

[2015-02-04 19:51] Sharlikran commented on #187
I barley know what you mean.  I know that there are options to edit the bash.ini so that .dat files are in custom locations and I know there is an option to back up those settings and restore them but I have never used that nor would I know where to start and what to look for.

I'll have to leave that up to the gurus.  I am busy with real life today and once I am done with that I have volunteer st

[2015-02-04 20:26] crazykilla15 commented on #66
Thats what i've been doing, looking at what thinsplitterwindo does differently.

[2015-02-04 20:37] Arthmoor commented on #187
Yes, activating a ghosted plugin is a bug if it's not removing the .ghost extension. The game will not read it.

[2015-02-04 20:42] Utumno commented on #187
@Arthmoor Thanks! Can you reproduce ? Do you have any clue how long this has been around (or possible reasons for that) ? Can you give me a specification on how ghosting should behave (vis a vis "semi active" mods especially) ?

@Sharlikran Alright - pass - but if I have to do the coding and the testing the whole thing goes further behind (of course I test but tester and developer are different jo

[2015-02-04 22:19] Arthmoor commented on #187
With Bash 305:

Selected a file. Ghosted it. Bash indicates it's now ghosted. The file in Data has the .ghost extension.

Activated it. Plugins.txt lists it as it's proper name. The file in Data still has the .ghost extension.

The game simply ignores it when the file isn't found.

Tried again with what I assume is the current state of 306 - same thing. The link in the top post is always current,

[2015-02-04 22:23] Utumno commented on #187
@Arthmoor thanks indeed - sorry I wasn't clear - _I had not fixed it_. Will do ASAP and post back here. problem is I have to go through plugin and liblo stuff - hope will be easy

You tested on Skyrim ?

What about semi active mods (the ones with dots and crosses) ? How should ghosting behave then ?

[2015-02-04 22:25] Utumno commented on #187
@Arthmoor: yes the "Download zip" link in https://github.com/wrye-bash/wrye-bash/tree/utumno-163-wip is always the latest (or you can use git itself)

[2015-02-04 22:56] Arthmoor commented on #187
No, I didn't test it for Skyrim because ghosting is unnecessary there. I don't see why it wouldn't work the same though. I'll check in a bit.

As far as which version of what file, honestly I find GitHub to be insanely confusing because it's so disorganized. It's why I usually wait for Sharlikran to post a link to a new dev build for the patchers branch because I can't tell which one of the dozens

[2015-02-04 23:32] Utumno commented on #187
@Arthmoor Thanks - no need to test for Skyrim.

There is the basic concept of the branch (a git not a github thing). Once you get to a branch page there is the _Download zip_ link which will always get the latest code for this branch. With the patchers it's more complicated cause those are in pull requests.

I must find some time to set up a wiki article for using msysgit - if the only thing you w

[2015-02-05 23:03] Utumno commented on #187
@Sharlikran: I want to move the patcher arrays out of bush.py - what would the best place for them to go ? Talking about :

defaultEyes https://github.com/wrye-bash/wrye-bash/blob/dev/Mopy/bash/bush.py#L207

magicEffects https://github.com/wrye-bash/wrye-bash/blob/dev/Mopy/bash/bush.py#L243

and the rest

that is - move them to patcher/ or game/ package ?

[2015-02-06 02:38] Sharlikran commented on #187
Those should go in game.  I'm pretty sure Fallout uses them but not sure Skyrim will.  So having them in game will make it easier to set up game mode specific sets or empty sets.

[2015-02-07 17:34] Sharlikran opened #192 "Master list fixups and enhancements"
__EDIT(Utumno):__ I split this into two issues - reserved this one for master lists updates and fixes and carried the original cosaves issue reported by @Sharlikran in #236.

__OP:__

On the saves tab you can assign a new master to the header of a save file.  For example Someplugin.esp might have an update to SomepluginV2.esp.  `class CoSaves:` seems to be using bush.game.se.shortName but `class O

[2015-02-07 17:39] Utumno commented on #192
Post also the traceback please - thanks for looking into the code

[2015-02-07 17:50] Sharlikran commented on #192
[code]

Also on a side note.  Where is the file that keeps track of the names of the plugin files used with the save game headers.  For example, if I change Someplugin.esp to SomepluginV2.esp, then each save file I click on from that point forward will be changed automatically.  After I am done testing i kinda want to reset that file.

[2015-02-07 18:22] Sharlikran commented on #164
I was testing the dev branch to provide Utumno with a tracelog from the dev branch.  Two things happened.  All my inactive plugins were automatically ghosted when I don't have the enabled and they were all sorted after the bash patch.

@wrye-bash/active I remember at one point Utumno had commented on a fix from wrinklyninja-liblo-6-support.  IIRC there was an error.  Was that resolved in commit 89

[2015-02-07 19:19] Utumno commented on #192
Did not get into this part of the code yet - it may modify the save file itself ? Otherwise some .dat file. Will keep you posted here once I get round to it

[2015-02-07 21:38] Arthmoor commented on #187
I'm still seeing hover menus in the installers tab on each of the tabs that can list files. Once they pop up, they're in the way and you can't hit another tab until you move off the area first.

[2015-02-08 02:21] Utumno commented on #187
@Arthmoor: With the zip from here: https://github.com/wrye-bash/wrye-bash/tree/utumno-163-wip ?

Weird. Can you post me a screen shot ? - it's maybe some edge case I haven't thought of.

[2015-02-08 06:34] Sharlikran commented on #187
I'm going to try and get my new versions out tomorrow.  However, with the utumno-163-wip branch it runs super slow.  Normally users complain and I kinda feel they are just whining but this is a significant impact.  I think it took about 20 minutes to build my Bash Patch.  Where with just dev it's about 5.   Also the speed isn't just when making a Bash patch it's doing anything.

[2015-02-08 17:04] Utumno commented on #187
@Sharlikran: What ? Are you sure ?

If this is a fact (and not due to some other program running or whatnot) we must find out which commit introduced this slow down:

Post here which commit is good (I guess dev at 57ab1672c290de6d93b6fbf5c5a558a650fe2576). Then go to gitk choose the mid commit between dev and utumno-163-wip and copy its SHA (897abc... 20 chars thing). Go to git bash and issue `git

[2015-02-08 17:39] Sharlikran commented on #187
Yeah I'll get Arthmoor to try the version after I post it.  I will have two versions.  One from dev plus all patcher changes, and one from utumno-163-wip plus all patcher changes.

[2015-02-08 21:22] Arthmoor commented on #187
@Utumno Yes, the zip from there. This is why I find all these different branches for things confusing. I went where your link points, clicked the button to download as a zip, and that's what I got. I'll get you some screenshots in a bit.

As far as slow downs, the one I was using doesn't seem any slower or faster than usual to me. I haven't tried building a patch on the Oblivion side but I remembe

[2015-02-09 00:05] Utumno commented on #187
Ok waiting.

@Sharlikran: So the slowdown is not on utumno-163-wip but on the (Skyrim ?) " all patcher changes" _on_ this branch ?

[2015-02-09 00:13] Utumno commented on #187
@Sharlikran: I actually need to push some changes on dev. And then update this branch with a newer version. So maybe wait for that if you haven't started already.

[2015-02-09 00:47] Sharlikran commented on #187
Yeah I can wait go ahead.

[2015-02-09 00:57] Arthmoor commented on #187
Here's the links:

Installers tab: http://s9.postimg.org/4mzx9tr0t/Installers_Tab.jpg
Mods tab #1: http://s3.postimg.org/yc1p3lgzl/Mods_Tab_Description.jpg
Mods tab #2: http://s17.postimg.org/xs8iehw99/Mods_Tab_Tags.jpg

Hopefully obvious where these are coming from.

[2015-02-09 01:50] #184 closed

[2015-02-09 02:05] Utumno commented on #187
@Arthmoor Alright try latest [dev](https://github.com/wrye-bash/wrye-bash/archive/dev.zip)

![tooltips](https://cloud.githubusercontent.com/assets/1365079/6100066/2a5c1f16-b008-11e4-98c1-62b7e1382669.jpg)

The only thing I can imagine is you had a stale archive somehow as those changes are on my branch. Be sure to download the latest archive.

If this does not work the problem is deeper (what worr

[2015-02-09 02:21] Arthmoor commented on #187
That appears to have fixed the tooltips.

[2015-02-09 02:37] Utumno commented on #187
@Arthmoor: Just be sure to always download latest zip - those changes were on my branch when you posted (80c7055752ceee0452bcbb6b31dff28f6f722f8d)

So the deal is: when I say I made updates you redownload the zip.

maybe compare manually till you are confident (Beyond Compare I'd recommend).

----
@Sharlikran: post the rebase commands you use also - but not here - this discussion better be moved t

[2015-02-09 03:26] Arthmoor commented on #187
I did though. I even blanked out the folder and unpacked the zip. Either it hadn't been committed in yet, or GitHub served me a bad file. Either way, it's fixed now, so that's what counts, right?

[2015-02-09 03:51] Sharlikran commented on #187
I'm gonna compre branches tomorrow to see if I overwrote aome of your changes.

[2015-02-10 01:58] Utumno commented on #187
@Sharlikran : post the link to the branch you intend to rebase in the relevant pull requests.
Current tip of my branch cd6d55802021b079e114740644339e4c5ef24b27 - dev the same as before: feb7a2a8cb488670dabf35a972aac2c2ae3bde95

Also @Arthmoor : pushed a quick and dirty fix for unghosting plugins on activation - same zip different content. If the mods are not unghosted on activation it's the wrong

[2015-02-10 21:44] Utumno commented on #187
Forgot to mention @Arthmoor that I fixed in _306 2015.02.10 02.49_ the mods tab Sort by Type being always on (mods tab > sort by File to reproduce in 305 - toggling Sort By > Type does nothing) and that I wonder what the Sort By does in masters lists - not much - since when ? I am going to bin it - or no ?

[2015-02-10 22:11] Arthmoor commented on #187
Ok, I'm obviously still not getting how this all works. I downloaded the dev link you posted from last time and it's not showing me what you're saying I should see.

[2015-02-11 00:37] Utumno commented on #187
No surprise - the branch I refer to as usual in this issue is: https://github.com/wrye-bash/wrye-bash/archive/utumno-163-wip.zip

https://github.com/wrye-bash/wrye-bash/tree/utumno-163-wip

Looking forward

[2015-02-11 01:38] Arthmoor commented on #187
Confirmed the ghosting thing is working right now.

Not sure what to tell you with the file sorting thing. I have always left that on sorting by load order and never touched it since. It doesn't seem to work, and frankly I don't think there should be any sort of sorting going on OTHER than by load order anyway.

[2015-02-11 03:13] Sharlikran commented on #187
I like sorting by the name or load order when I want to find something.

[2015-02-11 14:53] Utumno commented on #187
Will keep sort order in saves/Mods masters lists - just on columns File, MI, LO.

[2015-02-13 22:23] codrus opened #193 "Initializing error: can't find bartermenu.swf"
Using Wrye Bash 305 - Standalone Executable-1840-305. Running it from in Mod Organizer. Have mopy in main Skyrim folder.  About 8 seconds into the initialization:

Traceback (most recent call last):
  File "bash\basher.pyo", line 5165, in OnShowPage
  File "bash\basher.pyo", line 3824, in OnShow
  File "bash\bosh.pyo", line 8104, in refresh
  File "bash\bosh.pyo", line 6398, in refreshSizeCrcDate

[2015-02-14 17:21] Utumno commented on #193
Is `D:\Steam\SteamApps\common\Skyrim\Data\Interface\bartermenu.swf` present ?

[2015-02-14 17:44] codrus commented on #193
No, it isn't.  The only files in there are favoritesmenu_overrides.cfg and
Translate_ENGLISH.txt.

On Sat, Feb 14, 2015 at 9:21 AM, Utumno <notifications@github.com> wrote:

[2015-02-14 18:12] Utumno commented on #193
Add the file and see if this solves it

[2015-02-14 22:26] codrus commented on #193
That file came from Show Armor Slots (for SkyUI). After I put that in the
folder it then wanted favoritesmenu.swf. So I put all three .swf files from
that mod in there. Then it wanted map.swf which is in a mod called Atlas
Map Markers v1-7 Complete.  Shockwave files, so far.

Did one more and now it wants skyui/config.txt in there. That comes from
the first mod, so I put that folder and file in th

[2015-02-14 23:33] Utumno commented on #193
@Sharlikran also, any idea what might have triggered this ?

[2015-02-14 23:58] Utumno commented on #93
@Arthmoor found a reproducer for at least an anneal failure: install a mod from an installer, go to mods tab, edit its description, go to installers tab, refresh data, see the installer turn orange, right click Anneal does nothing.

Present at 305 - can you reproduce ?

[2015-02-15 00:03] Sharlikran commented on #193
He is using Mod Organizer, how is Wrye bash going to find the file in the data folder?

No this is not a reportable bug unless he can reproduce without mod organizer.

[2015-02-15 00:39] Arthmoor commented on #93
Would this not be expected behavior? You've caused the CRC of the file to change by doing this. BAIN is not supposed to overwrite something you've manually changed after installing it.

[2015-02-15 01:32] Utumno commented on #192
You mean when I click on a master name or when I right click > Change to ?

Can't reproduce this

I can the rest - plus is Load order listed for the save masters correct ?

Testing on 305

Oblivion: no exception but the .obse is not updated anyway I can see (?!)

[2015-02-15 01:37] Utumno commented on #93
@Arthmoor Thanks for clarifying - expect some more :)

[2015-02-15 02:18] Utumno commented on #192
The info is stored in BashSettings.dat - `'bash.mods.renames'` - well the logic of the whole thing is a bit twisted.

@Arthmoor is the .OBSE cosave edited in Oblivion when you use right click > Change to... in saves master list ? When clicking directly on a master and edit its label ? Should those two behave the same ?

Most importantly is Current LO column correct ?

How is this supposed to work

[2015-02-15 02:29] Utumno commented on #193
I am not up to date with MO and all that. Can you clarify a bit ? Cause if Bash thinks the file is there where does it get this info from ?

[2015-02-15 03:18] Arthmoor commented on #192
Sorry, I don't really know much of anything about how the saves tab should work, or what the OBSE/SKSE cosave files expect to happen.

[2015-02-15 03:22] Sharlikran commented on #192
What happens is that when you change the name of the plugin in the file header for the saves file it also updates the OBSE or SKSE co save header as well.

[2015-02-15 03:48] Utumno commented on #192
@Sharlikran: Quick testing in oblivion in 305 suggests that not - needs verifying. Quick test as in opening the .OBSE file and searching for the new master.

Do not see an easy way to reset renames

How you change the the name of the plugin ? Using right click > Change to or editing the label directly ?

[2015-02-15 03:58] Sharlikran commented on #193
This is not my typical uncooperative response I would give users on the forums.  I am simply being honest.

In the threads I do not discuss Mod Organizer.  I don't use it and I know almost nothing about it.  All I said was that he is using MO, and because of that the files are not in the Data folder.  Since I know nothing about MO, you would need to research it yourself.  You [can try this](http:/

[2015-02-15 04:04] Sharlikran commented on #192
To change the name of the plugin you right click, then choose Change To and then you are given the list of plugins in the Data folder.  You choose the file and then WB will use that fine name instead.

These are face plugin names.  For example say the original plugin is RealWaters.esp.  There are now two new versions (again just ana example) RealWatersContinued, or ReadWatersV2.esp.  The feature a

[2015-02-15 04:41] Utumno commented on #192
If you select a master and then click on it it allows you to rename it - this rename should have the same effect as right click, then choose Change To ?

Is the Current LO column correct ? In oblivion it displays I don't know what as LO numbers (I have some saves with huge masters lists that miss most of their masters)

In oblivion editing the masters list does not update the cosave file in any wa

[2015-02-15 04:44] Utumno commented on #193
Thanks - I was not aware there are virtual folders in MO (lol) - this would explain it. I'll wait to hear from @codrus - if not this is worksforme

[2015-02-15 22:07] Arthmoor commented on #187
Minor issue - resizing the boxes on the mods tab and the saves tab is not being preserved across sessions. I've adjusted them a few times now and they keep reverting back to what I presume are the default sizes. Would be nice to see fixed if possible.

[2015-02-15 23:33] codrus commented on #193
Sharikran is correct.  I was assuming with the popularity of both mod
organizer and wrye bash that the two would have been compatible long ago.

Just did a little more research and found that people are using them
together. I will have to figure out how they are doing it.

You may close this ticket if it isn't a wrye bash bug.

Thanks

On Sat, Feb 14, 2015 at 8:44 PM, Utumno <notifications@github.

[2015-02-16 00:07] InsanePlumber commented on #187
For sure it will be very welcome, it is very annoying.
Despite this, it is still best installer for modification for me.

[2015-02-16 00:13] InsanePlumber commented on #193
Personally I do not use MO but maybe this will help.

Wrye Bash : Installation - Mod Organizer
https://www.youtube.com/watch?v=wkmTZP1SyIA

Wrye Bash : Bashed Patch - Mod Organizer
https://www.youtube.com/watch?v=W1Es06MtAZM

[2015-02-16 00:28] Utumno commented on #192
Well things are as you say plus in 305 _Change to_ leaves the old masters inside the `.obse` cosave - tested with notepad++. So this may prove a very insidious bug - or I am forgetting something ?

@Arthmoor please try to test (or ask around) if the OBSE cosaves are correctly edited when renaming saves masters.

To do so duplicate a save's master (a save with an obse cosave), edit the master save

[2015-02-16 00:29] Utumno commented on #187
@Arthmoor they look alright:
![------mods details sash vs irfanview](https://cloud.githubusercontent.com/assets/1365079/6205594/fdf010ce-b573-11e4-8ddd-8f2a7a97c64c.jpg)

Or you mean something else ? Are installers boxes alright ? Is BashSettings.dat saved on close ?

Are column sort indicators working alright ?

I have more changes to push but I need some help with #192

@InsanePlumber I hope you

[2015-02-16 00:36] Utumno commented on #193
Delete/backup your BashSettings.dat BashSettings.dat.bak files and try to start Bash - it may not function correctly - do not enable installers

[2015-02-16 00:36] #193 closed

[2015-02-16 01:26] InsanePlumber commented on #187
It does not matter whether the application is in a window or full screen.
The same store settings before shutting down does not help.
[url=http://imgur.com/bhYTUIH][img]http://i.imgur.com/bhYTUIH.jpg[/img][/url]
I use:
python-2.7.3
wxPython2.8-win32-unicode-2.8.12.1-py27
comtypes-0.6.2.win32
pywin32-218.win32-py2.7
Installed in that order.
[url=http://imgur.com/ecMvp7u][img]http://i.imgur.com/ecMv

[2015-02-16 01:58] Utumno commented on #192
Ok - dunno what this means but the line that prevents the masters being edited in the OBSE case is no less than [`if opcodeBase == 0x2330:`](https://github.com/wrye-bash/wrye-bash/blob/dev/Mopy/bash/bosh.py#L1037) this comes from 3ac0142aa0096dc9f301e9a69c9b729e865315ee and stayed put since.

Still maybe the OBSE masterlist cosave needs not be edited - improbable

Also do not know how this code ap

[2015-02-16 03:30] Utumno commented on #192
@Sharlikran any idea what the colors on the saves and mods master lists mean ?

[2015-02-16 04:09] InsanePlumber commented on #192
Wrye Bash Advanced Readme Save Tab description.
http://tesfans.org/guides/wrye%20bash/docs/Wrye%20Bash%20Advanced%20Readme.html#saves

[2015-02-16 04:32] Sharlikran commented on #192
![image](https://cloud.githubusercontent.com/assets/1912426/6207208/bee238c0-b551-11e4-8d66-e368c239aab8.png)

[2015-02-16 04:35] Sharlikran commented on #192
Mods Tab:
![image](https://cloud.githubusercontent.com/assets/1912426/6207241/3de6bb82-b552-11e4-8861-ae46fde86c91.png)

[2015-02-16 04:42] Sharlikran commented on #192
I can't think of a tactful and respectful way to say this, I'm not trying to be defiant or rude.  Be sure to check the documentation to verify functionality, intent of the tab, colors, and that sort of thing.  I don't suggest that to be disrespectful, I suggest it so you have accurate information from the previous programmers like @lojack5 and @PacificMorrowind.  Then you can better evaluate how t

[2015-02-16 12:59] Utumno commented on #192
Dear @Sharlikran the colors on the MASTERS lists not on the saves or mods themselves - plus your last post was on _installers_ - I would delete those if I were you.

Please understand that I am technical and 99% when I ask something it's not in the docs OR in the code.

[2015-02-16 13:18] Utumno commented on #192
See also #27 and the linked SVN bug I had reported http://sourceforge.net/p/oblivionworks/enhancements/249/ and links there.

[2015-02-16 13:28] Utumno commented on #187
@InsanePlumber :

Read previous posts - this is not a forum - keep technical.

[2015-02-16 17:20] Sharlikran commented on #192
You are correct, done.  @Utumno I have updated the response.

[2015-02-16 17:40] Utumno commented on #192
You are a awesome !
I agree about purple.
Please have a look into #27 and http://sourceforge.net/p/oblivionworks/enhancements/249/ and links there and update your post if needed - will go through your post in detail later this evening.

Please also edit your post (if you haven't already) with info on merged/imported mods (the ones with dots and crosses) - how those should affect the master list co

[2015-02-16 18:13] crazykilla15 commented on #192
Any work being done here will also be helpful for my python 3 port.

i DO want to keep the code in line with the current dev code.

[2015-02-16 22:44] Sharlikran commented on #192
The Bash Patch does not include inactive, merged, or imported plugin in the header of the Bash Patch because they are inactive.  All the records for Merged or Imported plugins end up in the Bash Patch and thus have the same Current LO as the Bash Patch.  The records usually reference an active master.  This is consistent with the rule that plugins can't be merged if they introduce new records.

[2015-02-16 23:36] DianaNites opened #194 "Python 3 Support / Upgrade"
I am opening this so there is one, central place to discuss ongoing progress and issues with my conversion of Wrye-bash to Python 3

(i would label this as enhancement)

[2015-02-17 00:22] Utumno commented on #194
I will say it once: any mention of python 3, frameworks conversions and prettier colors and scrollbars before 310++ is considered ___trolling___

To come and open an issue in _this_ repo for _your_ project is _unheard of_.

[2015-02-17 00:22] #194 closed

[2015-02-17 00:31] Utumno commented on #192
@Sharlikran I am neck deep in sorting so will look into it in detail later on. Will try to push to my branch a fix for #27 hopefully till tomorrow.

Thanks again for your support at this time of trolling.

[2015-02-17 16:21] Sharlikran commented on #180
The french user is trying a version based off of https://github.com/wrye-bash/wrye-bash/commit/cd6d55802021b079e114740644339e4c5ef24b27 but doesn't seem to have much better results.  He is going to do more testing and provide me a log later.

[2015-02-17 16:35] Utumno commented on #180
Looking forward - no way the code is failing in the same point - I am very curious (I do hope he is using the right commit though). Thanks for suplying the commit - that's really helpful so I know we are on the same page.

If you can get round to it please create a user in windows named with a Japanese name and try to run 305 then cd6d55802021b079e114740644339e4c5ef24b27 in this profile and see if

[2015-02-17 16:37] Sharlikran commented on #180
That should do it :+1:

[2015-02-18 02:07] Utumno commented on #187
Pushed new commits:

Code: https://github.com/wrye-bash/wrye-bash/compare/utumno-163-wip

or in zip https://github.com/wrye-bash/wrye-bash/archive/utumno-163-wip.zip

The version must read: __306 2015.02.18 02.41 Master list sort__

External changes are master lists sort, sort indicators in all lists, faster sorting in Ini tab etc
This at least will make it easier to see what's going on in master

[2015-02-18 07:03] Sharlikran commented on #187
With commit https://github.com/Sharlikran/wrye-bash/commit/f1f2d62ced40c188e537399f1dace85d3829e01b when I use it the first time, it asks if I want to backup the settings, I always say no.  Then when I go to the installers Tab Avoid at Startup is checked and enabled is unchecked.  Because of that the tab is blank.  I had to Enable it for it to scan the installers folder.  This again is first time

[2015-02-18 07:05] Sharlikran commented on #187
[code]
When I use a BAIN installer with a wizard I get the above error.

[2015-02-18 15:25] Utumno commented on #187
Thanks for the reports @Sharlikran - will look into them ASAP - keep testing :)

[2015-02-18 18:08] Utumno commented on #187
Alright - the installers one is due to your not removing also BashSettings.dat.bak (it's under My Games/skyrim)

To test with no settings _you must remove both files_

Also sharl in my branch the dialog displays:

![enable install](https://cloud.githubusercontent.com/assets/1365079/6252724/b3660650-b79c-11e4-9ec4-bc5889de70ee.jpg)

Notice the test is rightly formatted (another of my countless smal

[2015-02-18 21:07] Utumno commented on #187
Fixed another regression - espms menu raised - all in my branch as usual

[2015-02-18 23:25] Utumno commented on #94
Fixed - except when the window is maximized and installers is not the first tab to load

[2015-02-19 00:05] Arthmoor commented on #187
Dunno if you guys addressed it or not yet but I'm confirming the issue with the installers tab. After telling the update I did not want to backup the settings file, the installers tab was blank and the "enabled" option was not checked. When I told it to enable, it simply rescanned the folder normally rather than doing the full rebuild the pop-up box implied would happen (usually takes an hour for

[2015-02-19 00:10] Arthmoor commented on #187
Oh. I'm also still getting insanely long refresh times on the installers tab sometimes. Like just now after popping over here to comment, then switching back, it took a long time to do... something. While it did so there were a bunch of wacky refeshes, the taskbar icon wigged out, and Windows whined that it had stopped responding. Then it completely lost the window focus and forced me to have to c

[2015-02-19 00:37] Utumno commented on #187
The installers _lag_ is not addressed - it's the liblo thing behind it that refreshes the mod tab - must be that cause it's oblivion only. And liblo fails on Oblivion etc etc.
BAIN is 307 - we must get 306 out. I happen to have some free days but hey I am alone here and getting tired.

The other is because I flipped a setting - since it prompted you to backup the settings it means you had settings

[2015-02-19 00:51] Utumno commented on #187
And @Arthmoor please redownload - I fixed a couple of regressions

[2015-02-19 01:21] Arthmoor commented on #187
Oh, right. Sorry. I keep forgetting that's from liblo.

Also, unless you did those regression fixes after I posted, I was using whatever you had updated 4 hours ago.

[2015-02-19 01:24] Utumno commented on #187
No prob

Please provide me detailed steps for installers

What I did - deleted settings and backup, opened Bash (mods tab) clicked on installers it prompted me:
![first run](https://cloud.githubusercontent.com/assets/1365079/6260382/416832ac-b7de-11e4-965e-25cd86f24ff9.jpg)
 all fine

Then on restarting installers were enabled

I guess you had your settings in place and it happened - this can only

[2015-02-19 01:26] Utumno commented on #187
Edit: well I keep pushing - once this installers thing is fixed I will push a neew one with a new date - but if you encounter another bug be sure to read posts here if its already fixed

[2015-02-19 02:48] Utumno commented on #187
@Sharlikran can you reproduce (giving me detailed steps ?)

[2015-02-19 03:20] Arthmoor commented on #187
Yep. "Something weird". Basically this: http://forums.bethsoft.com/topic/1510638-wrye-bash-thread-101/?p=23898099

Just like her, my installers tab has been set to enabled for ages. Only after your last update did this change. I still have some installs I can check with once you've got an update to try it with.

[2015-02-19 04:01] Utumno commented on #187
Aha - got it :)

How to fix it is another matter cause I broke it to fix another weirdo: https://github.com/wrye-bash/wrye-bash/commit/30c26b49bd8fc9235eb6ec7c0e30a2e6f81c0f45

I knew this change was the cause - but I was puzzled because I had forgotten that settings that are not  changed from the default are not saved - so setting it to true when you enabled the installers (a long time ago) _was

[2015-02-20 02:22] Utumno commented on #187
From the forums:

New series of patches that fix the installers tab thingy - same place new stuff:

Code: https://github.com/w.../utumno-163-wip

or in zip https://github.com/w...mno-163-wip.zip

Codenamed: 306 2015.02.20 03.15 Back To BAIN

Test the ini tab, test whether enabling the installers tab misbehaves any way (settings, no settings etc - your reports made me look real careful into this pa

[2015-02-21 17:52] Utumno commented on #187
Hey ho !

There are 2 more bugs I would like you to __confirm__ for me:

Switching to a new save profile does not load the load order for this profile on the mods tab - present on 305

Clicking on a save icon is supposed to disable it - it does not  - present on 305

[2015-02-22 08:27] Arthmoor commented on #187
Dunno if this was universal or not, but we just got this one crop back up again:

Unofficial Skyrim Patch.esp: Unexpected subrecord: 'TES4.SCRN'
Error loading 'TES4' record and/or subrecord: 00000000
eid = u'<<NO EID>>'
subrecord = 'SCRN'
subrecord size = 4
file pos = 53194

This happened after using the most recent copy of 306 where you apparently took out the datestamp version numbers. This issu

[2015-02-22 15:42] Sharlikran commented on #187
Which version of the Unofficial patch was that from @Arthmoor?

[2015-02-22 20:23] Arthmoor commented on #187
One that is still being worked on. The regression is easy to replicate though. Just use 306 to change either the timestamp of a file or the description of a file and then 305 will then tell you it's corrupt.

[2015-02-22 21:02] Utumno commented on #187
Took out the version string as it caused problems with wizards to forum testers - will hash up a new test version ASAP, but meanwhile keep using this one

@Arthmoor : I do not think I did anything that could affect this but still re: description. When adding Bash tags to the description via Bash (tags, uncheck automatic, hit 'Copy to description') if the description is long enough already it will

[2015-02-22 21:31] Arthmoor commented on #187
I can't keep using this one. It's corrupting the files when I edit the dates/descriptions. I don't have an install I can just be reckless with :P

I'm not sure if I'd call cutting off the tags a bug since the description field can only be so big and trying to overfill it has to result in SOMETHING getting lost. I'd rather it lose the tags than the other text.

[2015-02-22 21:43] Utumno commented on #187
@Arthmoor : please try dev and see if it's there too. Was it present in the timestamped method ?

So merely changing a timestamp, like Ctrl+Up or down corrupts a file ? In the sense that 305 can't open it ? What is a SCRN record ?

[2015-02-22 21:46] Utumno commented on #187
RE: description - its max length is 512 chars ? If yes would it make sense to display a dialog when someone is trying to add tags that will overflow it instead of adding the tags chopped off (the closing braces are chopped off to naturally so this makes the tags of no use anyway)

[2015-02-22 21:57] Utumno commented on #187
Also where do you get the `Unofficial Skyrim Patch.esp: Unexpected subrecord: 'TES4.SCRN'` error ?

[2015-02-22 22:33] Arthmoor commented on #187
Honestly can't say if it was in the timestamped version or not. I only found out it had been touched when Pete told me 305 declared it corrupt.

Yes. Any change which causes Bash to save the file in your 306 branch will cause it. Then when launching 305, it will be declared corrupted because of the SCRN subrecord.

SCRN is supposedly a screenshot subrecord, but esm/esp files don't use this and non

[2015-02-22 23:14] Sharlikran commented on #187
This code
[code]
has to be changed to this code
[code]

[2015-02-23 00:27] Utumno commented on #187
Yep just found the culprit commit by @Sharlikran : 0623004b602c91244e29650d8af9d4b0035945ce

@Sharlikran : are you sure this is all is needed ? Should I commit it right away ?

As I have no clue what's going on with the Skyrim subrecords, and because  I need people go on testing please verify other changes in your merge: 21de440b098dd0cd56d511202a34b443dcaf67dd
are ok

@Arthmoor: thanks for the in

[2015-02-23 00:30] #180 closed

[2015-02-23 02:43] Utumno commented on #123
@WrinklyNinja what is the state of this ?

Plus I want you to specify me exactly liblo.py API - I need to know exactly which methods/constants is the python side supposed to use, and I need them registered statically in module scope - I will do this but please specify me the API.

[2015-02-23 03:27] Sharlikran commented on #187
What am I looking for in 21de440b098dd0cd56d511202a34b443dcaf67dd?  All that has already changed since then.

[2015-02-23 03:30] Sharlikran commented on #180
Did your fix work?  My comment and the :+1: wasn't an acknowledgement that it worked.  The Japanese user isn't responding anymore so I'm not going to bother him.  The french user has other system related issues that is interfering with Wrye Bash.

I know this was a Monkey fix, but did someone in the forum confirm anything?

[2015-02-23 03:37] Utumno commented on #180
Yes @psilocide aka lefenger who is of great help. Plus I understand what's going on now. If it resurfaces (unlikely) we can always reopen.

[2015-02-23 03:38] Sharlikran commented on #180
Okay thanks for letting me know.

[2015-02-23 05:35] Utumno commented on #187
Fix for corrupted mods committed in dev and my branch updated - please go on testing it

[2015-02-23 10:38] WrinklyNinja commented on #123
`wrinklyninja-liblo-6-support` is ready to be merged, but could do with more testing. As for the API, I'm not sure what you mean. If you're going to be rewriting the Python wrapper, I've uploaded a PDF of libloadorder's API docs [here](https://www.dropbox.com/s/cm1lh8exmp57ovm/libloadorder%20v6.0.3.pdf?dl=0). Otherwise, everything in liblo.py is already in the Python side, so it's already "suppose

[2015-02-23 14:14] Utumno commented on #123
@WrinklyNinja: I would expect to see an API comprised of 4 methods:

GetActive/LoadOrder(reload=False) # just return me the cached value if reload=False
SetActive/LoadOrder(pluginlist)

Am I missing some functionality if the API is reduced to this ?
What in the current liblo.py corresponds to this functionality ? Is there caching ? If not do I have to implement it on the Python side ?

[2015-02-23 14:43] Utumno commented on #192
TODOs:

- [ ] Bash tags should not be copied to description if this causes it to overflow (see #187)
- [ ] the UI must be reworked so that:
  - [ ] save and cancel are enabled _only_ when the user actually edited the masters
  - [ ] you do not need to click two times to refresh
- [ ] 'bash.mods.renames' should be exposed to the user - at least clearing them should be possible
- [ ] The info from t

[2015-02-25 04:26] #27 closed

[2015-02-25 04:47] Utumno commented on #192
@Sharlikran just pushed a fix for LO display - plus enabled (and cleanup up) sorting in masters lists. Would this fix the 'this is a bug' in your post above ?

[2015-02-25 10:12] WrinklyNinja commented on #123
Yes.

`LibloHandle::GetLoadOrder`, `LibloHandle::SetLoadOrder`, `LibloHandle::GetActivePlugins`, `LibloHandle::SetActivePlugins`

On the C++ side, yes. On the Python side, no.

[2015-02-25 14:11] Utumno commented on #123
Could you elaborate on this please - I mean functionality used by Bash.

Not exposed on the python side ?

[2015-02-25 14:28] WrinklyNinja commented on #123
I don't know any more about what Bash actually uses than you do: Lojack originally wrote the Python wrapper, I just adapted it afterwards.

Not exposed on the python side ?

No. If nothing has changed, libloadorder will return the same data without any additional computation.

[2015-02-26 01:00] Utumno opened #195 "Switching save profile does not activate mods for this save profile"
Introduced in 1bf84f3e3b246195b93d9715e2d1891decc47354: Replaced the load order / active plugins bit of the BOSS API with libloadorder - see there for comments

The problem is that apparently this commit does not change the _client_ code - so other parts in the client code may have broken too in subtle ways - this need to be investigated.

[2015-02-27 16:33] Sharlikran commented on #192
As of https://github.com/Sharlikran/wrye-bash/commit/8b19bc8e1e5a7bab28f166d1ffcd060104cb70bb the Current LO column looks much better.  The Hex value matches the Mods tab as it should.  The colors also seem to be working correctly.  For example 4 mods with a slightly different order make a brief section of orange.
![image](https://cloud.githubusercontent.com/assets/1912426/6416439/0f5a4b5a-be5b-11

[2015-02-27 17:13] Utumno commented on #192
Thanks for confirming this sharl :)

[2015-03-05 23:57] Utumno commented on #187
Alright - new version:

___306.201503060030___

With this I am almost done with the refactoring for 306 - had a final hard nut to crack.

Please _test_

-------

@Arthmoor :  I need your lights on Saves >  Repair Factions : does this have _any other use except fixing a bug in wb version 105 (!?)_ ? If not I guess it's time I binned it

[2015-03-07 22:57] Utumno commented on #160
Trying to debug this I run across:
[code]

Moreover this does not happen consistently...

[2015-03-08 00:03] Utumno commented on #94
Worked around it, must open an issue for glitches though

[2015-03-08 00:03] #94 closed

[2015-03-08 01:10] Arthmoor commented on #187
Correct. That function was only there to fix a bug in an ancient copy of Bash. So I'd say you're good to go on binning it.

[2015-03-08 01:21] Utumno commented on #187
Oh thanks - will most certainly do.

Also - I find things in the code that seem to suggest that Bash could extract the face from a save game - apparently it can only extract the screenshot - could it ever extract the face ?

[2015-03-08 07:02] leandor commented on #187
Yeah, I used that feature extensively to reboot my char from time to time and worked perfectly. You could either transplant a face from a save to an esp or from save to save. I hope it still works :unsure:

[2015-03-08 07:05] Arthmoor commented on #187
It's actually been broken for some time now, I couldn't tell you exactly how long, but people were quite unhappy about it. I couldn't tell you one way or the other where to even start looking, but if you manage to fix that, you'll elevate yourself to hero status :P

[2015-03-08 07:12] leandor commented on #187
Hahah :) No pressure for Utumno there :)

I haven't been playing Oblivion for ages now (or I'd have noticed it not working) and I miss it :(

[2015-03-08 17:10] Sharlikran commented on #187
Leandor, do you think you might have some time in a week or so to install previous versions and find one that works?  I never used it so I wouldn't know if it was working or not.

[2015-03-08 18:29] Utumno commented on #187
:+1:

I am not promising cause the code in this area is errr dark - but a working revision would be a start - last version that works should be enough ;)

[2015-03-08 21:06] leandor commented on #187
Hey Sharlikran :)

I'll do my best! No promises as to when I can pull it off, but I'll try to do it during this coming week. I have backups of all versions of Wrye Bash since almost the beginning of the history :D

I used to put each ZIP released by Wrye, since version 0.80 or so, into a personal SVN repository so I can even get back to those if needed.

[2015-03-08 21:41] Utumno commented on #187
@leandor : the code is very complex - it's not an accident I asked - and the comments are not in sync and all. Once you get round to it feel free to post an issue with your findings vs expected behavior please :)

[2015-03-12 06:45] Sharlikran commented on #187
For the pop-ups, I think I mentioned it but just in case.  From the mods tab, when you right click file two options come up.  List mods and list bash tags.  Both have pop-ups that aren't needed.

[2015-03-13 01:04] Utumno commented on #187
Thanks - will fix - struggling with delete at the mo - it's a can of worms

[2015-03-17 00:58] #35 closed

[2015-03-17 01:14] Utumno commented on #35
Balo is (hopefully completely) uprooted, groups function and have couple more edit actions added and exclusion groups seem to serve their dubious purpose - so I am calling this a day. I am leaving the check items just as a reminder - if you have lots of free time try implementing some of it - better wait for bosh refactoring has started though.

[2015-03-23 21:29] leandor commented on #187
Hiya again!

I've doing some testing on this and I've found that the import face feature broke somewhere between releases 304.3 (0cf2190c6cafe8a22a060dfd8bafb880967b5551) and 304.4 (df77b4646d3a04c6f54a145a520148deb2335eaf)

Now I'll try to pinpoint more accurately where the breaking change happened, but it's a bit tricky to do since those commits aren't related by a common trunk of development. A

[2015-03-23 21:39] Utumno commented on #187
@leandor Thanks :)

The stable branch is dev

The easiest way to do what you want is

$ git checkout dev
$ git bisect start
$ git bisect good 0cf2190
$ git bisect bad df77b46

and git will start checking out the middle commit. Run Bash, see if it works and tell git by issuing git bisect good/bad accordingly: http://webchick.net/node/99

I may get here first but just in case - I am doing other stuf

[2015-03-23 21:46] leandor commented on #187
Thanks Utumno :) Will try, and if I can find anything else, I'll let you know.

I've uploaded to my google drive (public) the save games after each test and a txt file with the commits from SVN and GIT I used as test points. Just in case you want to check a successful save vs. one that wasn't.

Here's the link:
 https://drive.google.com/folderview?id=0B9lns9afVHMcMXl3T2ZnTUZFczQ&usp=sharing

My or

[2015-03-23 21:57] Utumno commented on #187
Ok - now that I look more carefully the commits are:

$ git bisect good 75d690bde0ed7ca54093ac3c7444b6bb286b8448
$ git bisect bad d6c1a094e7d39b6a7bc74412efde45be57962743

Where did you find the commits you posted ? they seem from an old tree

Anyway use `$ gitk --all &` you' ll see the tree and be much more in control of what's going on - use it while bisecting also - refresh (F5) will show you w

[2015-03-23 22:07] Utumno commented on #187
Had a look at your test file - Testing Bash Import face.txt

To spare you te trouble need for all the details just the commit on dev.

If you don't get round to testing could you fill an issue here - detailing the steps you took to reproduce the issue in 304.4 (you know expected behavior, actual behavior and the like)

[2015-03-23 22:12] Utumno commented on #123
@WrinklyNinja:

- ModInfos.refresh() [calls plugins.refresh()](https://github.com/wrye-bash/wrye-bash/blob/3cde04d7b0e6e9cd0c0fdf469acf10552c36b0a9/Mopy/bash/bosh.py#L4299) which for oblivion always returns True: https://github.com/wrye-bash/wrye-bash/blob/3cde04d7b0e6e9cd0c0fdf469acf10552c36b0a9/Mopy/bash/bosh.py#L3046. That is related with Bash taking ages to refresh even if nothing changed (whi

[2015-03-23 22:25] leandor commented on #187
Well, here's what I did... I started from the old SVN repository at Bash version 299 (it was the last version I recalled using on which the feature worked...) and moved up the releases until the end of the SVN line of releases.

Then I switched to the local git clone I have, and found the git commit corresponding to the last SVN change I tested, and moved up from there... one release at a time.

A

[2015-03-23 22:29] Utumno commented on #187
Well basically that is release 304.4 lol

You actually tested on the master branch - maybe my instructions weren't very exact - you must bisect on the dev branch (there the commits are more detailed- the master has only these huge merge commits which are the releases)

What are the steps you take to test ?

[2015-03-23 23:01] leandor commented on #187
This is the procedure I used:

1. start with test save that is clean with a new character created (same gender and race as the original one)
2. Start bash (at revision x where x changes in each step) and do File -> Duplicate and give the new file a name that doesn't overwrite existing previous tests.
3. Use File -> Import Face and select the original save with the real char that has the face you w

[2015-03-23 23:05] Utumno commented on #187
Aha thanks :)

Could you also upload the clean save in the google drive ? If you get round to bisecting first it would be great - if not I should have a look myself one of these days

[2015-03-23 23:07] leandor commented on #187
Of course! It's called 'Test Import.ess' and I already uploaded it.

[2015-03-23 23:09] leandor commented on #187
BTW, I'm still progressing through the second set of bisect commits you posted... my first post was made when using the original commit hashes... if you wait a bit, I may have some luck finding the bad guy :)

[2015-03-23 23:14] Utumno commented on #187
Please do - I'll send a nazgul to collect him ;)

[2015-03-23 23:45] leandor commented on #187
Found it!  Here's the little bugger -> ecf30e902fcf184741d8e90699877541dad6a6fa

This change causes Import Face to break. It still works in the commit just before to that one.

Tested twice just to be sure :)

[2015-03-23 23:47] Utumno commented on #187
You send me the link to a commit that was done 6 days ago - are you sure ?

[2015-03-23 23:58] leandor commented on #187
Mmm... now that you say that, it sounds strange.

Ok, let's recap... here's what I did... I restarted the bisect from the dev branch as you said. Tested the last commit of that branch using the procedure above and the import face failed.

Then went backward to this one b3a8e8ec6a7ab24dea23009a13472520926414ca (on the dev branch) and tested that one and import face worked on that one.

Then started

[2015-03-24 00:05] Arthmoor commented on #187
I can guarantee you face import/export has been broken for far longer than 6 days. People have been complaining about that since well before Skyrim's release. Unless it's one of these things that works in one release but is broken again in another and people just stopped checking.

[2015-03-24 00:09] Utumno commented on #187
Haha git puzzles (+ Bash ones) - will look into it - but tomorrowish - what's the gui you are using ?

[2015-03-24 00:12] leandor commented on #187
I believe you @Arthmoor, and I remember trying to use it last year, at some point, and it wasn't working on the Bash version I was at that time.

And yes, I'm also really confused :( Sorry. I'm going back in time in Git history trying to find a point in which also didn't worked.

@Utumno: It's called Git Extensions! I've been in love with it since I found it like three years ago :)  Here's the lin

[2015-03-24 00:18] leandor commented on #187
I'll try cloning newly fresh copy of the repository, just to be sure that I don't have anything wrong in my local copy (I had this one cloned since a few months back) and repeating the search again.
I'll get back in case I find something new or different to report.

[2015-03-24 01:51] leandor commented on #187
Well, I'm totally and utterly confused.

I repeated my tests starting from scratch using the new cloned repository and now I find that the the first commit I reported as broken (df77b46, the one for release 304.4), it is, in fact working.  I must have made a mistake in testing that one, and if that's the case, I'm really sorry.

I tried to go back and find point in which it failed, but I cannot se

[2015-03-24 08:54] Utumno commented on #187
Welcome to the world of debugging - take your pills :D
Yes in fact this is issue is spammed but nevermind - was 305 working ? That'd be a starting point

[2015-03-24 18:26] WrinklyNinja commented on #123
Libloadorder will scan modification times to check if anything has changed, and return cached data if not.

No, that should be handled by liblo.py's calls to `lo_fix_plugin_lists()`.

I have none to give. On a related note, I'm currently uninterested in contributing to Bash's development, because I find it utterly unrewarding and so I'd much rather do a host of other things with my leisure time. I

[2015-03-24 19:43] leandor commented on #187
Sorry, for the long delay...

You mean... that gray pane in the import window is meant to show a preview of the pace? That would have been awesome.

I don't recall it ever working at all...

AFAICR, there's two ways to initiate the face import, the one we're using is from save to save.
The other way is initiated from a mod's context menu (preferably using an empty ESP) and imports the face to a ne

[2015-03-24 23:16] Utumno commented on #123
Still I am not sure why it returns true here: https://github.com/wrye-bash/wrye-bash/blob/3cde04d7b0e6e9cd0c0fdf469acf10552c36b0a9/Mopy/bash/bosh.py#L3046 and why this comment ` return True # Until we find a better way, Oblivion always needs True`. What is the better way you suggest me ?

Sorry to hear that

Glad to hear this

libloadorder fails to detect that the plugins txt is rewritten as detai

[2015-03-24 23:54] Utumno opened #196 "Face Import fixups"
At best this will prove just a docs fixups
At worst...

- [ ] add info on the docs on how to export a jpg for Bash to show as preview
- [ ] did the class checkbox ever display anything ?
- [ ] regression on import face from save to save
- [ ] verify the rest works (mod to mod, mod to save)

[2015-03-25 00:00] Utumno commented on #187
Thanks for your trouble - opened an issue  #196 (we should have done this earlier) - move there what you feel is the gist of your posts here - feel free to delete the rest - will do so with mine. Will get back to you there - just hit some weirdness (http://stackoverflow.com/questions/29238393/setting-a-breakpoint-in-pycharm-changes-the-behavior-of-the-code) and did not have time to bisect but you

[2015-03-25 18:34] Utumno opened #197 "UI Glitches + wx"
- [ ] hanging status bar:
  ![floatingbar](https://cloud.githubusercontent.com/assets/1365079/6832161/f4a2b3b8-d324-11e4-8920-25647d1041d4.jpg)
 solved by postponing maximizing the window till after refresh
- [ ] Ini tabs - I need a proper solution (that is sizers) as opposed to a hack
  ![ini glitch](https://cloud.githubusercontent.com/assets/1365079/6832177/0cce9ab0-d325-11e4-9240-d66a38f72d26.j

[2015-03-25 18:53] leandor commented on #187
Thank you!

Sorry I didn't reply yesterday, but I lost my internet connectivity at home until very very late.

I'm at work now, but when I'm back home I'll move the more important bits of what I posted to that issue.

[2015-03-25 22:00] Utumno opened #198 "Oblivion esm version swapping fixups"
- [ ] when switching to default save profile from a profile with a different Oblivion esm version you are greeted (in 305) with:

[code]

- [ ] Dev regression: a hell of wx assertions in current dev as the internal dict of the _gList control is not updated properly:

[code]

 Nice opportunity to look into this - DeleteAll() ? Yes that was it

- [ ] the menu items in Mod List do not set the save pr

[2015-03-25 22:01] Utumno opened #199 "Reboot the repo"
The repo contains too much cruft - binary files, the chardet library and what not. All these end up in 70 mbytes clone size (which is hell of a lot) and huge rebase etc times - and the situation will only get worse.
I suggest - now that development is not hot - to reboot the repo

Todos:
- discuss what is the better way of doing this - force push to dev/master ? create a different repo ?
  rename

[2015-03-25 22:01] Utumno opened #200 "Tasks"

[2015-03-25 22:02] Utumno opened #201 "bosh package"
Bosh (the 'data model') must be split to a package

[2015-03-26 01:41] #198 closed

[2015-03-27 00:28] Utumno commented on #187
@Arthmoor : deleted the Bashed patch refresh hack in the commit above: https://github.com/wrye-bash/wrye-bash/commit/f374573767d9b904794468579ca1800d6836cf9e - could you test this ? why was only on PBash ?

Changes as usual to my latest branch

[2015-03-28 23:44] AndalayBay commented on #196
Tested face import using saved game files.
First test attempt to change name and gender on import. The characters had different names, but we the same race and gender. The source character is level 16 and the game I imported to was a level 1 character. This test crashed on import:
`Traceback (most recent call last):`
`  File "bash\basher\dialogs.py", line 347, in DoImport`
`    bosh.PCFaces.save_s

[2015-03-29 00:08] Utumno commented on #196
Thanks - just use triple \` to surround code blocks.

This error is a Unicode error - what was the name of the character

[2015-03-29 00:27] Utumno commented on #196
yep IIUC - what are the details ?

[2015-03-29 01:25] AndalayBay commented on #196
Character's name is Soren in the current game and Soren Renard in the game I was exporting the face from.
You just take a screenshot of the character either in the game or the CS, depending on where you created him. Trim it down to just the face, save it as a JPG and put it in that directory. To get the Editor ID, just set debug text (sdt) to 9 in the console, then toggle debug text (tdt). If you

[2015-03-29 06:31] AndalayBay commented on #196
Images don't seem to work for saved game files, which isn't a surprise really. The character is Soren00000007, so I tried changing the image file names to Images00000007.jpg. I don't think it's a surprise since the saved game file might be in a completely different directory, so how would WB know where to grab the image from? I tried copying the images into the images directory for the target game

[2015-03-29 12:49] Utumno commented on #196
Well the code for it is here: https://github.com/wrye-bash/wrye-bash/blob/7e085d79644138ae83f80adc847ca48deefd8461/Mopy/bash/basher/dialogs.py#L323-L326

Adding a print I got (for Lyana Anmel - @leandor's char :D)

    C:\GAMES\TESIV3\Oblivion\Data\Docs\Images\00000007 Lyanna Amnell.jpg

Sure enough:

![clipboard01](https://cloud.githubusercontent.com/assets/1365079/6885485/71e37c54-d622-11e4-852f

[2015-03-29 15:52] Utumno commented on #196
Ok fixed the name importing thing (and left the printing of the path that Bash expects in)

306.201503291746, usual place

Great opportunity to test delete also I will soon merge to dev - especially check if deleting an ini tweak, mod etc correctly updates BAIN

@AndalayBay: The installers tab is not asking for confirmation on delete cause you have apparently disabbled delete confirmation on sendi

[2015-03-29 19:06] AndalayBay commented on #196
Could you fix the documentation a bit for the character image? When it said [editorID].jpg, I thought that's exactly what it meant. I'll try renaming my files, although it's still not clear to me how it would retrieve the image when you're importing from a saved game file, especially if the file is in a completely separate directory. I use mTES4, so I'm using a save from another game instance.

Ye

[2015-03-29 19:24] AndalayBay commented on #196
Ok, now I see what you're doing. The message on face import is:
[code]
However the saved game file that has the face is *My Games\Oblivion-mTES4\DD OBSE 21 Mod Dev 2\Saves\Save 1828 - Soren Renard - Black Marshes, Level 16, Playing Time 170.26.34.ess*

Not a surprise that it wouldn't be able to find the image. So if I copy an image to the destination game matching that name, I would see it on impo

[2015-03-29 20:19] Utumno commented on #196
Hopefully :)

Yeah the docs - once it functions

Actually once all is done I'll be accepting docs patches ;)

[2015-03-29 23:34] Utumno commented on #187
@Sharlikran : disabled the tooltips you reported
@Arthmoor : sorry to insist but I do need some feedback on https://github.com/wrye-bash/wrye-bash/commit/f6b9cf99acd07837d9ac50155e09b33a043e16d3

@leandor: on the less technical stuff - the dates are mingled cause I keep rebasing - not sure on the details.
As for the Git Extensions - what do they offer more than msysgit (which is awesome indeed IMO

[2015-03-30 00:33] Arthmoor commented on #187
I'm not sure what I'm supposed to be looking for with that commit. Patch builds for both CBash and PBash worked, which is no different from before you did that.

[2015-03-30 06:33] Utumno commented on #187
Thanks - I think it was you who committed this - it has to do with the patch not being detected after 'it is manually deleting (sic) and recreated on startup' (?) - so I thought you would know what are the circumstances this would manifest...

[2015-03-30 08:00] Arthmoor commented on #187
If that's the text as is, it wasn't me :P I wouldn't have had any idea about the stuff mentioned there.

[2015-03-30 13:28] Utumno commented on #187
Yeah sorry did not mean any bad - I just wanted to highlight the fact that I could not quite get it - you committed it - here is the commit: 226b30b27e5b98f24ba14fc583a2048a43bb7ad8 - but it was @jfpelland  who provided the fix as  I see now - still does not ring a bell ?

[2015-03-30 14:53] Sharlikran commented on #187
@Utumno Anything committed by Arthmoor or myself on the SVN was from other authors posting in the Forum.

Bash Patch deletion and expected behavior:

When you delete a Bash Patch it should be removed from the Data folder and be removed from plugins.txt and loadorder.txt.  After refreshing the load order and the mods tab that step would be complete.

No Bash Patch on Startup: Upon starting Wrye Bas

[2015-03-30 16:27] Arthmoor commented on #187
@Utumno Nope. That's nearly 3 years ago, and as Sharlikran said, probably came from a forum submission at the time.

[2015-03-30 19:30] Utumno commented on #187
Ok - what I make of it is that when the Bash patch was deleted and Bash was restarted the new bashed patch would not be registered correctly so it would not activate - this seems fixed but I run accros a strange locking of the Oblivion/Data folder - lol - triple lol. Investigating

[2015-03-30 21:40] Utumno commented on #187
Fixed - I hope I can merge soon - this merge will leave only refresh stuff for 306 open - yeah

[2015-03-30 23:15] Arthmoor commented on #187
Not to throw wrenches in things, but on a couple of occasions using BAIN for Skyrim I've noticed that after an anneal it isn't updating the status display on the right to reflect the current number of conflicts etc. It seems to do so properly if I click away to another package and then come back.

[2015-03-30 23:21] Utumno commented on #187
@Arthmoor - this was not happening on 305 ?

[2015-03-31 00:34] Arthmoor commented on #187
Yes, I'm on your branch. I think it was one of the recent commits that did it. Quite certain it wasn't in 305 because I'd have noticed this ages ago. So far as I've seen, only on anneal. Install and uninstall seem to be fine.

[2015-03-31 01:42] Utumno commented on #187
will have a look and keep you posted - thanks for the report :)

[2015-03-31 17:36] Utumno commented on #187
@Arthmoor: could you test with current dev: https://github.com/wrye-bash/wrye-bash/archive/dev.zip?

Actually the 'refresh details' part of Bash has some rough edges I'd leave for 307 - but since you spotted this I'd like to fix it

One big rough edge is that when selecting multiple mods, saves, installers etc - which item's details should be displayed ?

[2015-03-31 17:52] Sharlikran commented on #187
When you are on the mods tab and you select multiple mods it doesn't matter what is displayed becase it would be false.  For example in this screen shot.
![image](https://cloud.githubusercontent.com/assets/1912426/6925228/edb7e966-d792-11e4-8dd9-aff782d60a5c.png)
Don't try to fix or add anything for selecting multiple mods.  If there are no exceptions leave it.

If you are on the Saves Tab it's th

[2015-03-31 18:03] Utumno commented on #187
Thanks ahaha - how about _cleaning the details item_ when multiple are selected ? ;)

Actually I am looking it from inside the code - what would lead to better/more maintenable code - there was a mess and this part is one of the parts that are not entirely cleaned up - gosh there is even a bug in my current branch (I am going to fix now) - so this part of the code still trips even me :)

[2015-03-31 18:44] Sharlikran commented on #187
So I can keep it clean and precise, can you paste a screen shot and use Paint or something to draw a red box around what you want details you wan to clear out or clean?

[2015-03-31 19:02] Arthmoor commented on #187
@Utumno That didn't fix the anneal refresh. Had a file with 3 mismatches listed. Annealed it. Window still showed 3. Clicked to another package, then back again, and it correctly updated to 2 mismatches at that point. That's with the link you just posted.

[2015-03-31 20:36] Utumno commented on #187
Thanks - I can reproduce so I can find the commit - but I will be away for some days since the weekend - so take the time to test.

this needs a proper fix - started working on it

Btw - when deleting a mod/save etc the details for it stay there - should I refresh ?

[2015-03-31 22:00] Arthmoor commented on #187
Yes, deleting something should either refresh or just display a blank spot like when you first enter the tab.

[2015-04-01 22:26] #32 closed

[2015-04-01 22:26] #172 closed

[2015-04-02 23:07] Utumno commented on #187
Alright - pushed some fix for the anneal and delete refresh details thing - please go on using my branch. I am pleased to note that the fix actually involved few lines of code - the refactoring starts giving back.

306 is almost there - I will be away for a couple weeks but will have internet access and will still be around, just not so active.

I want to smooth out a bit #123 and correct any roug

[2015-04-06 03:59] leandor opened #202 "Bashed Patch tweak options fail to show (Bashed Patch UI)"
On current 'dev' branch, Bashed Patch window errors out when you right-click a tweak to show the available options:

[code]

Option I used to check:
![image](https://cloud.githubusercontent.com/assets/1095373/7000284/885884f2-dbf4-11e4-801f-85fd7697cd40.png)

Problem seems to come from this line:

[code]

And seems to be related to this commit: 967b921e0dfe6a6d52cc83939c83374e0e3d6bbd

Nice huntin

[2015-04-06 17:01] Utumno commented on #202
Thanks for the report - silly me

Try my branch - untested can't test now - but I believe will be ok: https://github.com/wrye-bash/wrye-bash/tree/utumno-163-wip

[2015-04-06 17:11] leandor commented on #202
Thanks! Will test again on the evening... I'll edit this post with the results, and I'll close it if it works.

[2015-04-07 04:06] Utumno commented on #202
Well just got round to testing it and it has issues - (list index out of range) - will have a closer look tommorow

[2015-04-07 04:45] leandor commented on #202
Oops.... Sorry it took me so long, it was a long work day. I was just going to give this a try now! :)

[2015-04-07 05:05] Utumno commented on #202
No worries - I will give it a thorough look tomorrow and get back to you :)

[2015-04-07 17:24] Utumno commented on #202
Alright pushed new commits - dialog is fixed but please test if also patch is OK - candidates: tweak names, reweight arrows

[2015-04-07 18:59] leandor commented on #202
Will test in a few hours, as soon as I get home from work today.

[2015-04-08 13:51] dankoB opened #203 "Wine Compatibility"
I port many applications and games to the OSX platform and modded versions of many BethSoft games. Wrye Bash is integral tool for both Oblivion and Skyrim. I have noticed something has changed between the latest stand alone version and the stand alone version I have been using. WryeBash v304.2 works beautifully in Wine with no issues. Although when I try to update to the latest v305 I receive this

[2015-04-08 15:13] Utumno commented on #203
Can you python ? If not you can't do much. If yes - well at some point the python ,methods for moving/deleting/copying files were replaced by 'shell' methods  - shell being a windows only library. Start here: https://github.com/wrye-bash/wrye-bash/blob/02a5891c3f1a47e3f3763f772ed5cc767ec93415/Mopy/bash/balt.py#L1044

Unfortunately I have no time to look into this

Btw - please use the latest dev v

[2015-04-08 15:31] Utumno commented on #202
Ok - thanks :)

Just noticed that the reweigh arrows tweaks log reports maximum arrow weight 0.000000000 no matter what option is chosen. Is it ok in game ?

Also could you check the Names tweaker for me ? Like the Spells one ? It should have the same issue in dev.

Go on using my branch - it sits on top of dev - and thanks for the report :)

[2015-04-08 16:53] leandor commented on #202
Of course! I'll do those tests after work today.

[2015-04-09 02:08] Utumno commented on #202
Well - actually it was not the names patcher - rather the leveled list one - fixed in 306.201504082206

[2015-04-09 04:02] leandor commented on #202
Testing the Reweight Tweaks now. For the arrows, it seems to be using 0.00 no matter what was the choice, indeed.

![image](https://cloud.githubusercontent.com/assets/1095373/7060244/c3374016-de53-11e4-8bfa-453a9a256c72.png)

[code]

Just selected a few random ones and did a compare to show (but they're all have weight zero):
![image](https://cloud.githubusercontent.com/assets/1095373/7060258/f37d

[2015-04-09 04:09] Utumno commented on #202
Hmm - in 305 it did also log 0.00000 - so it is not just a log bug ?

If and only if you can test this I would be interested in 304.4 figures (that is before I started committing - so I know if it's my changes)

[2015-04-09 04:12] leandor commented on #202
Yeah, I can do that... let me switch quickly and I'll be back in a moment.

[2015-04-09 04:26] leandor commented on #202
Now testing again with weight 0.1, so we can compare both tests.

[2015-04-09 05:08] Utumno commented on #202
Alright thanks ! So bottom line: reweight arrows and potions pick 0 and 0.1 (which are basically the game defaults IIRC) ?

Will have to look into it

[2015-04-09 17:44] Utumno commented on #202
Aaaand fixed :)

Let me handle closing this from the commits

Notes:
- Would it make sense to enable the patcher when selecting an element from the choice menu ?
- What's the deal with potion weight minimum vs maximum ? Which (is supposed) to win ?

@Arthmoor : any ideas on the above ?

[2015-04-09 17:45] Utumno commented on #202
Please check the cbash ones too - not anything thorough - all weight patchers preferably

[2015-04-09 21:33] leandor commented on #202
Potion min vs max: I believe they're mutually exclusive... and the Min weight option it's there for people that want more realistic items weights (as in, not being able to carry 100 potions around :laughing:)

All my tests were always done using CBash... I can make another Bashed Patch and test both methods, but that'll be a bit later, when I get home from work.

[2015-04-10 06:57] leandor commented on #202
Did you commit any new changes? I'm not sure I saw anything new on fetch (got confused because I was switched to another branch.)

I ask because I tried the tests again and they still fail like the ones I reported before.

Here's a sample, just in case:

New bashed patch, python based:
![image](https://cloud.githubusercontent.com/assets/1095373/7083235/a0b6c3e4-df35-11e4-8b12-430751ca5e3e.png)

Ar

[2015-04-10 15:24] Utumno commented on #202
Ooops - forgot to push - sory :(

pushed: 306.201504091341

Should be ok

Consider making a patch with only the weight options - would be much faster :)

Btw - with my load order I noticed some discrepancies between the P and C patches:

[code]

and

[code]

My LO is completely random but yeah - note the reweight arrow and ingredients logs

[2015-04-10 18:36] leandor commented on #202
Good idea :) For the python one, as the CBash one is very quick! As always, when I'm back home, I'll repeat the tests.

[2015-04-19 22:14] Utumno commented on #202
@leandor: if you get round to it please test my latest iteration (306.201504182238) - should have fixed this issue completely and I also added enabling the patcher on selecting an option I would like some feedback on

[2015-04-19 22:48] leandor commented on #202
Yeah, sorry! I'll get to it tomorrow, promise!
I've got some time consuming stuff on my hands ATM, that is using up all my spare time on weekdays.

[2015-04-19 22:53] Utumno commented on #202
Great thanks!

[2015-04-20 04:16] Utumno commented on #202
Great thanks! Actually newest version is 306.201504192215 - did some patcher refactoring

[2015-04-21 00:54] Utumno commented on #160
Well turns out it is expected behavior - the line:

                if record.value != value:

in the pathcher: https://github.com/wrye-bash/wrye-bash/blob/6b63bbb2f1afed8aed2ed43e3efcecb68d9525a2/Mopy/bash/patcher/patchers/multitweak_settings.py#L66 prevents the tweak to be applied if the value is the same as the one in the (Oblivion.esm) record - the defaults are the vanilla values apparently. C

[2015-04-21 00:54] #160 closed

[2015-04-21 01:20] Utumno commented on #188
The menu item is 'Show Bsa Conflicts' and it is on the main (column headers) menu

[2015-04-21 02:01] Utumno commented on #202
Great thanks! Actually newest version is 306.201504202157 - did some patcher refactoring (and some minor cleanup)

[2015-04-21 02:17] leandor commented on #202
Ok, testing with these settings in both CBash and Python. They seem to be working perfectly, despite some differences in content between the resulting Bashed Patch esps.

I could try figuring out why those differences are there, if you want... tried skimming through them and didn't found anything suspicious on the first look.

Here are the results:

![image](https://cloud.githubusercontent.com/ass

[2015-04-21 02:20] leandor commented on #202
Whoops... just noticed you committed changes just recently. Didn't picked up those, should I retest this again?

[2015-04-21 02:38] Utumno commented on #202
Beauty - let me close this from the commits - the recent changes were on the labels only - so they wont be breaking anything (labels work correctly)

Thank you very much indeed - good catch and excellent work !

Re: differences - won't have any time now but if you spot anything buggy (when/if you get round to it) feel free to open another issue. IIUC there are differences between the patchers that

[2015-04-21 04:37] leandor commented on #202
Actually, about the face import issue :)

I was using it extensively a few weeks ago, and found that it's mostly working as intended.

I was able to edit the face on the CS and after that importing back to the save successfully.

I'll do a retest of that on the next weekend, since I'm intending to start a play-through of Oblivion and want to keep building my load order for that (man, it's very tim

[2015-04-21 22:12] #202 closed

[2015-04-21 22:59] Utumno commented on #187
@wrye-bash/active: entering final for 306. I want to have a thorough look at the modInfos/plugins refresh and establish an internal API for setting/getting load order. This will close the 306 part of #123.

Meanwhile I did some internal refactoring of the:

UpdateReferences
Importers
Merger
Race
Cobl, Morph etc

pathcers (oblivion). It should be ok but _please, please, please_ do some patches and

[2015-04-22 08:33] Utumno commented on #187
Just noticed that deleting an installer does not 'unlink' its mods and inis (that is they still display the installer in their 'installer' column). Is this expected behavior ?

[2015-04-22 14:46] Sharlikran commented on #187
[code]
This was reported as of 02a5891c3f1a47e3f3763f772ed5cc767ec93415 have you made any changes between that commit and your last commit of 57891d5e66a0b4737983ac4a44f689e8aa1001ae?

[2015-04-22 15:11] Utumno commented on #187
@Sharlikran: thanks

I can't reproduce (although I have seen this error before) - are you just switching profiles only ? Editing masters ?

Can you use my latest code: https://github.com/wrye-bash/wrye-bash/archive/utumno-163-wip.zip ?

[2015-04-22 15:20] Sharlikran commented on #187
I am reporting it for another user (see this post)[http://forums.bethsoft.com/topic/1509287-wipz-wrye-bashexp-skyrim-patcher-update-thread-2/?p=23940014]. I have no idea how they reproduce it.  However, I did ask them to use the dev branch as of 02a5891c3f1a47e3f3763f772ed5cc767ec93415 and the utumno-163-wip branch.  I would specify the exact commit but because of your git magic I don't know which

[2015-04-22 15:25] Utumno commented on #187
Hahaha - well now that I look at it - PopulateItem is not in `basher/__init__.py` since a long long time

This was a beast I have struggled with a long time ago (and squashed) - so yes ;)

[2015-04-22 15:26] Sharlikran commented on #187
I am reporting it for another user [see this post](http://forums.bethsoft.com/topic/1509287-wipz-wrye-bashexp-skyrim-patcher-update-thread-2/?p=23940014). I have no idea how they reproduce it.  However, I did ask them to use the dev branch as of 02a5891c3f1a47e3f3763f772ed5cc767ec93415 and the utumno-163-wip branch.  I would specify the exact commit but because of your git magic I don't know which

[2015-04-22 15:36] Utumno commented on #187
Bottom line - from the traceback I see that PopulateItem is in `basher/__init__.py` and this only means the standalone (grrrrrr) contains an ancient (relatively) version of dev.

Nephenee13 never tried https://github.com/wrye-bash/wrye-bash/commit/02a5891c3f1a47e3f3763f772ed5cc767ec93415

[2015-04-22 15:50] Utumno commented on #187
This particular bug was reported in #198 and fixed in af3a69847c55934dee0872db353cf7b62d9a7bb6 for the record - and it (in its various manifestations) was maybe the harder part of basher refactoring. Just drove me mad.

[2015-04-23 00:07] Utumno commented on #85
Closing this as it is not a Bashmon thing - it is a face import thing and probably fixed in https://github.com/wrye-bash/wrye-bash/commit/6b63bbb2f1afed8aed2ed43e3efcecb68d9525a2 - see #196

[2015-04-23 00:07] #85 closed

[2015-04-23 01:30] Utumno commented on #157
@Sharlikran: is this still valid in Skyrim ? Would like to have it in 306 if it proves an easy fix

[2015-04-23 19:03] alt3rn1ty commented on #187
@leandor - Reference the Face Importer

I am very sketchy on details, but I do recall it being looked into on BGS forums at some point.

The conclusion was the thing worked in its entirety in Wrye Mash for Morrowind

And it did work in Wrye Bash for Oblivion, in its early days the preview worked too ..
http://wryemusings.com/Wrye%20Bash.html#FaceImport

But for Oblivion the Preview Image became di

[2015-04-23 20:32] leandor commented on #187
@alt3rn1ty: Thank you!

I've been using the import funcion a lot these last few weeks and I can say that on the current dev branch, it's working (almost... more on this later :)) perfectly.

Thanks for the links... I'll put that info to good use on this coming weekend. I'll be trying to do some extensive testing on this, so I can report the current status... and I'll be sure to check the preview i

[2015-04-23 20:38] leandor commented on #187
@Utumno: Sorry, I missed your post for so long.

I imagined that was the case :)

?

Nah, nothing extremely important really... I could say a more "pleasing" UI (to my eyes, at least) and some streamlining for some common functions (integrated editor for Rebase Interactive... better handling of three-way merges... etc.)

It's more "truer" to the Git philosophy than TortoiseGIT in any case :stuck_o

[2015-04-26 03:18] Sharlikran commented on #151
Commit b583e1202f1f0b587ff8856dfdefd809cab84a81 will no longer rebase without resolving changes.  I no longer wish to try and follow the changes.  I'll leave this open as it is something that needs to be done but I won't be working on it.

[2015-04-26 03:18] Sharlikran commented on #150
Commit b583e1202f1f0b587ff8856dfdefd809cab84a81 will no longer rebase without resolving changes.  I no longer wish to try and follow the changes.  I'll leave this open as it is something that needs to be done but I won't be working on it.

[2015-04-26 05:01] Utumno commented on #151
Which branch you want rebased ? I can resolve the conflicts probably ;)

[2015-04-26 05:27] Utumno commented on #150
Point me to the branch you want rebased - I can do it most probably

[2015-04-26 10:20] leandor commented on #196
I've been doing some tests with the last snapshot (5c697c0dd88980bf3341d2245a04cce7660a67b2) and for all I could see it seems to be working perfectly.

I was able to test this scenario, using the original face I've uploaded before.

1. New Mod "Original Face.esp" for importing faces (so I can test import to ESP)
2. Add Masters needed for the face (In my case bgBalancingCoreEV.esp)
3. Import face f

[2015-04-26 13:10] Utumno commented on #196
Thanks @leandor - will get back to you ASAP - would be nice to link here to the test material and the procedure

Quick questions:
- does "class" work ?
- did Bash _ever_ have the ability to export a face _image_ from a save ?
- esp to esp ?
- all those tests were with only face ? Name should work - the rest probably too ?

Thanks :)

<Meanwhile if you can edit html could you go through the readme

[2015-04-26 13:14] Utumno commented on #151
Done: https://github.com/wrye-bash/wrye-bash/tree/dev-sharl

The conflicts were trivial happily (for me who knew what I have changed :))

Is some of it ripe enough to be merged ?

[2015-04-26 15:47] Sharlikran commented on #151
You rebased my feature branch which has some of the Skyrim and Fallout patchers active while attempting to keep Oblivion functionality in tact.  Naturally the CBash side of things remains untouched. However, as I mentioned I'm not going to follow the refactoring anymore.

It has been tested a lot but there are issues as noted in the OP of the dev thread under Known Issues.  Nobody would use it for

[2015-04-26 18:24] Utumno commented on #151
A shame

Please pull this branch (dev-sharl) in your clone for future reference - let me know when done so I can delete it from here.

[2015-04-26 18:56] Utumno commented on #151
Plus - when I say merge I mean what is ready to be merged from _the work on skyrim records_. Are there pathers skyrim pathers that work correctly ? Those could be enabled too.

[2015-04-26 19:08] Utumno commented on #151
Finally - update the OPs here and in #150 with the links to the branches you mention - I rebased on feature-sharlikran-valda-fallout cause that is what was closer to what you have in the OP (broken link)

Thanks

[2015-04-26 19:45] leandor commented on #196
Good points! I'll try to test them sometime todayish (later in the evening...) or tomorrow after work, if I'm not able to get to it today.

As for the image, in my tests, Bash it generated an image as a copy of the savegame screenshot when I did the transfer from save to ESP.

[Here's the link](https://drive.google.com/folderview?id=0B9lns9afVHMcMXl3T2ZnTUZFczQ&usp=sharing) to the folder where I'v

[2015-04-26 21:40] Utumno commented on #196
Thanks indeed - take your time I am pressed with 306 anyway :)

[2015-05-04 03:45] leandor commented on #196
Sorry I couldn't get to this yet :( Will try to get my hands on these tests on this coming week. I'll keep you posted!

[2015-05-06 16:49] Sharlikran commented on #151
Branch used in this pull request:

[dev-skyrim-patcher-update](https://github.com/Sharlikran/wrye-bash/tree/dev-skyrim-patcher-update)
[code]

You don't have to but if you have time This pull request is based off of dev and only has the changes found in the dev-skyrim-patcher-update branch.

[2015-05-06 16:50] Sharlikran commented on #150
Branch used in this pull request:

[dev-fallout-patcher-update](https://github.com/Sharlikran/wrye-bash/tree/dev-fallout-patcher-update)
[code]

You don't have to but this branch has changes based off of the dev-skyrim-patcher-update branch.  That way the fallout changes are separate.

[2015-05-06 19:21] Utumno commented on #151
Ok - here you are: https://github.com/wrye-bash/wrye-bash/tree/dev-sharl-skyrim.
Please pull it to your tree and force update the pull request - let me know when done cause I have to delete it from here. I will keep updating dev but no conflicts will occur.

[2015-05-06 19:22] Utumno commented on #150
Will do later

[2015-05-07 18:20] Utumno commented on #150
And done: https://github.com/wrye-bash/wrye-bash/tree/dev-sharl-fallout :)

please pull to your repository ASAP and let me know so I can delete from here

[2015-05-07 19:01] Sharlikran commented on #150
How do I do a pull like you are asking?

Normally I do this:

git fetch upstream
git fetch upstream --prune
git checkout dev
git rebase upstream/dev
git push -f origin dev

That gets me dev.  I don't know how to pull those two branches.  I want to comapre the branches before I add them to my branches used in the pull request.  However, I also don't know how to say replace branch dev-fallout-patche

[2015-05-07 19:17] Utumno commented on #150
Pull dev as you do then

git fetch upstream dev-sharl-fallout
git checkout -b dev-sharl-fallout FETCH_HEAD

then go to gitk to see the branches

In gitk you can right click on a commit and compare it with selected commit: http://stackoverflow.com/questions/13715710/using-gitk-can-i-see-the-difference-between-2-commits/17549542#17549542

Reset the branch: in gitk, right click in dev-fallout-patcher

[2015-05-07 21:39] Utumno commented on #151
Hey - deleted the dev-sharl branch as I had omissed a line:

     +        progress.setFull(len(self.srcs))

It only differs with the fallout branch in the last few commits - just cherry-pick them (gitk, right click) - actually only the _added build release batch file_
 should be needed)

[2015-05-08 16:22] Sharlikran commented on #151
At first I wasn't able to Rebase mostly because I couldn't resolve the conflicts very easily.  I decided to try and take the time and make a better attempt at resolving the conflicts myself by comparing the code from dev and the code I am using for the test version I last posted in the Experimental Bethesda thread.  That code was based off of changes as of commit 57891d5e66a0b4737983ac4a44f689e8aa

[2015-05-08 16:40] Sharlikran commented on #151
[code]
Also those attributes have to be there or the entire record won't be compared and patched correctly.  When Wrye Bash compares records for changes it has to look at all the attributes even things marked 'unused1','unused2','unused3' or 'unknown1','unknown2','unknown3'.  Otherwise a record that has no changes except changes made by the GECK, CS (Oblivion), or CK (Skyrim) would be considered a

[2015-05-08 16:45] Sharlikran commented on #151
So again don't merge this into dev for 306 because it won't work right.  I have to wait until you are done refactoring and redo all my branches from scratch.  It won't matter if I use GitK or not because that's not the issue.  It's also not that I don't know Git well enough yet.

It's simply that for the code to be separate for Skyrim and Oblivion there has to be constants in the game/oblivion and

[2015-05-08 17:11] Sharlikran commented on #151
Also I'm angry or disparaging your work.  You are doing great.  It's just a pain for me to follow since i don't know python hardly at all.

[2015-05-08 19:45] Sharlikran commented on #150
delete dev-sharl-fallout

[2015-05-08 19:45] Sharlikran commented on #151
delete dev-sharl-skyrim

[2015-05-08 20:14] Sharlikran commented on #123
As of f8389b62cc9037754fd5071b6c8fe2bc09c14433 this seems to take 9-10 seconds on my computer with the installers I have in the Skyrim Bash Installers folder.

[2015-05-08 22:07] Utumno commented on #151
This comment was mine cause I was wondering on the meaning of these _unknown_ flags - compare also the differences between C and P patches `docs: recAttrs vs tag_attrs` - thanks for the clarifications - adding comments in the code for this would be great ( `TODO: docs: ....`)

The

    self.recAttrs = game.cellRecAttrs
    self.recFlags = game.cellRecFlags

should end up in `<game>/__init__.py` fo

[2015-05-10 11:45] iliakonnov opened #204 "Windows Error 0xE06D7363"
I can't start wrye bash, becouse it crash at startup.
The same error on master branch and dev branch.
There is logs:
**BashBugDump_startup**

**BushBugDump**

P.S. Sorry for my bad English.

[2015-05-10 12:04] Utumno commented on #204
Thanks - when you say master you mean 305 ? Or 305 works ok ?

It is failing inside libloadorder.dll - anything unusual with your setup ? Comtypes version ? Operating system ? XP ?

I use python 2.7.8 but I don't think it matters

Can you try my branch: https://github.com/wrye-bash/wrye-bash/tree/utumno-163-wip ?

Note to self: http://stackoverflow.com/questions/13360718/python-ctypes-and-dll-that

[2015-05-10 12:49] Utumno opened #205 "Refresh optimizations"
Catch-all issue for refresh performance optimizations:

RefreshUI is an expensive call:

- [x] ModList.RefreshUI - refresh saves is called by default - this must be reversed
  - [x] search for `(refreshSaves=True) # True ?` (https://github.com/wrye-bash/wrye-bash/commit/00ebcbb25561fd31c0a02ad6ba8a735a1cf624c7)
- [ ] RefreshUI should accept deleted, modified (currently files) and added parameters

[2015-05-10 16:37] iliakonnov commented on #204
* When I say master I mean [master branch](https://github.com/wrye-bash/wrye-bash/tree/master)

* I tryed versions forom [sourceforge](http://sourceforge.net/projects/oblivionworks/files/Wrye%20Bash/), only 302 and older worked correctly.

* I'm using comtypes 0.6.2

* I using Win 7.

* Your branch worked correctly.

[2015-05-10 17:06] Utumno commented on #204
Aha - thanks - I have a customized build of liblo in my branch - keep using my branch then and report whatever you find - will keep this open till I pin it. Do you have Oblivion_1.1.esm in your list ? When going back from my branch to dev (or master) does it blow again ? Was it because of some peculiar load order ?

The sourceforge versions are also here https://github.com/wrye-bash/wrye-bash/rele

[2015-05-10 17:15] iliakonnov commented on #204
No, I haven't got Oblivion_1.1.esm in my list.
After going back to master, It doesn't crashing anymore.
Thanks for link and your branch.

[2015-05-10 17:51] Utumno commented on #204
So it was a one time fix of your load order I guess - lost in Oblivion, or rather Skyrim. I should have asked you to post your load order, damn - can you post it now ?

[2015-05-10 17:58] iliakonnov commented on #204
Unofficial Skyrim Patch.esp
Dawnguard.esm
Unofficial Dawnguard Patch.esp
HearthFires.esm
Unofficial HearthFire Patch.esp
Dragonborn.esm
Unofficial Dragonborn Patch.esp
HighResTexturePack01.esp
HighResTexturePack02.esp
HighResTexturePack03.esp
Guard Build (HF) 1.esp

[2015-05-17 11:57] #204 closed

[2015-05-18 15:19] Utumno commented on #187
@wrye-bash/bashers : important !

- liblo does not return the active plugins in the order they appear in _plugins.txt_. There was a lot of code in bash trying to fix potential mismatch but because of this all of it was broken (the plugins txt is not corrected except if one actually changes the load order). Bottom line: in __305__ Bash _will always display the order in loadorder.txt_ __while the pl

[2015-05-18 15:27] Sharlikran commented on #187
No, please do not add the lock load order feature for Skyrim.  Especially do not make Wrye Bash change the dates.  The dates are not used by the game to specify the load order.  They are used by Steam to determine whether or not to update a subscribed mod.  I'm not going to back and look for this on the forums but that feature was already removed for Skyrim.

[2015-05-18 15:40] Utumno commented on #187
Aha - yep do not worry - this feature was a nice piece of solid code when LO was simply timestamp based - since then it became a mess that I _have_ to clean up. Your comment clarified this for me. Certainly I won't mess with timestamps for skyrim.

Yep cause they were usually timestamped much later that 2006 (that usually wrye Bash timestamps mods) - talking oblivion. So if I enforce this behavior

[2015-05-18 15:41] WrinklyNinja commented on #187
This is by design and documented. The reason being that plugins.txt doesn't decide the load order for Oblivion, and so its general feature amongst the games is that it stores the set of active plugins in an undefined order.

Why is the order important?

[2015-05-18 15:58] Sharlikran commented on #187
That makes sense wrinkly.  I'm gonna link something from pastebin though because I need to wrap my head around something.  Also when you get a chance to look at I'd like to know if you have any suggestions on how to get Wrye Bash to manage the plugins correctly.  I'll post what I mean in a minute.

[2015-05-18 16:04] Utumno commented on #187
@WrinklyNinja: thanks.
I know it is by design but turns out that I need this info so I can correct the plugins.txt (as detailed above in _305_ the displayed loadorder and plugins may become out of sync) and possibly warn the user etc - I find it essential to warn the user, backup the plugins txt etc.

So bottom line - oblivion can get away with set but skyrim needs a vector.

In general I need loa